{% extends "office.base.htm" %}

{% block content %}
  <form action="{% url 'payment:subEdit' %}" name="edit" method="POST">
      <table cellpadding="3" cellspacing="1" width="100%">
        <tr>
          <td width="200px" align="right">插件名称：</td>
          <td>{{ pay.get_cod_display }}</td>
        </tr>
{% for i in pay.form %}
        <tr>
          <td align="right">{{ i.label }}：</td>
          <td>{{ i }}</td>
        </tr>
{% endfor %}
      </table>
      <center>
        {% csrf_token %}
        <input type="hidden" name="id" value="{{ pay.id }}" />
        <input type="submit" value="保存" class="button" />
      </center>
  </form>
{% endblock %}