{% extends "office.base.htm" %}

{% block content %}
        <table cellpadding="3" cellspacing="1" width="100%" id="myTable">
            <thead>
              <tr>
                <th width="40px">编号</th>
                <th>名称</th>
                <th>上线</th>
              </tr>
            </thead>
            <tbody>
{% for i in pay %}
              <tr align="center">
                <td>{{ i.id }}</td>
                <td align="left"><a href="{% url 'payment:editPay' i.id %}" title="{{ i.get_cod_display }}">{{ i.get_cod_display }}</a></td>
                <td><a href="/payment/onl/{{ i.id }}/" title="{{ i.onl }}"><img src="{{ STATIC_URL }}images/{% if i.onl %}yes{% else %}no{% endif %}.gif" /></a></td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ pay|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}