{% extends "office.base.htm" %}

{% block title %}支付方式{% endblock %}

{% block urHere %} - <a href="/payment/">支付方式</a>{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/office/payment.js"></script>
{% endblock %}

{% block content %}
        <div id="search">{% csrf_token %}
          <form action="/payment/" metho="POST">
            <img src="/images/icon_search.gif" border="0" alt="SEARCH" />
            <input type="text" name="k" size="15" value="" />
            <input type="submit" value=" 搜索 " class="button" />
          </form>
        </div>
        <table cellpadding="3" cellspacing="1" width="100%" id="myTable">
            <thead>
              <tr>
                <th width="40px">编号</th>
                <th>名称</th>
                <th>上线</th>
              </tr>
            </thead>
            <tbody>
{% for i in pay %}
              <tr class="odd" align="center">
                <td>{{ i.id }}</td>
                <td align="left"><a href="/payment/{{ i.id }}/" title="{{ i.name }}">{{ i.name }}</a></td>
                <td><a href="/payment/onl/{{ i.id }}/" title="{{ i.onl }}"><img src="/images/{% if i.onl %}yes{% else %}no{% endif %}.gif" /></a></td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ pay|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}