{% extends "shop.base.htm" %}

{% block subMenu %}
    <div class="subMenu">
        <h4>设置</h4>
        <ul>
            <li><a href="{% url 'account:settings' %}">基本资料</a></li>
            <li><a href="{% url 'account:changepwd' %}" class="select">密码</a></li>
        </ul>
    </div>
{% endblock %}

{% block content %}
        <div class="pWhite">
            <form action="{% url 'account:cPwd' %}" method="post">
{% for i in frm %}
                <div class="formBar">
                    <label>{{ i.label }}</label>
                    {{ i }}
                </div>
{% endfor %}
                <div class="btnBox">
                    {% csrf_token %}
                    <input class="btnG bBtn" type="submit" value="修改密码" />
                </div>
            </form>
        </div>
{% endblock %}