{% extends "shop.base.htm" %}

{% block section %}
        <menu>
            <li><a href="{% url 'account:myOrd' %}">我的订单</a></li>
            <li><a href="{% url 'account:settings' %}">个人信息</a></li>
            <li><a href="{% url 'account:changepwd' %}" class="on">修改密码</a></li>
        </menu>
        <section>
            <form action="{% url 'account:cPwd' %}" method="post">
                <table>
                    <tr>
                        <td>修改密码</td>
                        <td>&nbsp;</td>
                    </tr>
{% for i in frm %}
                    <tr>
                        <td align="right">{{ i.label }}：</td>
                        <td>{{ i }}</td>
                    </tr>
{% endfor %}
                    <tr>
                        <td>&nbsp;</td>
                        <td>
                            {% csrf_token %}
                            <input type="submit" value="修改" class="btn btnbr"/>
                        </td>
                    </tr>
                </table>
            </form>
        </section>
{% endblock %}