{% extends "shop.base.htm" %}


{% block content %}
        <div class="loginTitle">登录</div>
        <div class="loginBox">
            <form action="/account/login/" method="post">
            {% csrf_token %}
{% for i in frm %}
                <div class="formBar">
                    <label>{{ i.label }}</label>
                    {{ i }}
                </div>
{% endfor %}
                <div class="loginSubmit">
                   <input class="btnGr bBtn" type="submit" value="登录">
                   <p><a class="forgetPassword" href="/account/getpwd">忘记密码</a></p>
                </div>
            </form>
        </div>
{% endblock %}