{% extends "shop.base.htm" %}


{% block content %}
        <div class="pWhite">
            <table width="100%">
                <tr align="center">
                    <th>订单号</th>
                    <th>类型</th>
                    <th>下单时间</th>
                    <th>金额</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
{% for i in ords %}
                <tr align="center">
                    <td><a href="{% url 'account:uViewOrd' i.sn %}">{{ i.sn }}</a></td>
                    <td>{{ i.get_typ_display }}</td>
                    <td>{{ i.ordlog_set.all.0.time|date:'Y-m-d H:i:s' }}</td>
                    <td>{{ i.total|floatformat:2 }}</td>
                    <td>{{ i.get_status_display }} | {{ i.logcs.get_status_display }} | {{ i.fnc.get_status_display }}</td>
                    <td><a href="{% url 'account:uViewOrd' i.sn %}">查看详情</a></td>
                </tr>
{% endfor %}
            </table>
        </div>
{% endblock %}