{% extends "shop.base.htm" %}


{% block content %}
        <div class="pWhite">
            <table width="100%">
                <tr align="center">
                    <th>订单号</th>
                    <th>下单时间</th>
                    <th>订单总金额</th>
                    <th>订单状态</th>
                    <th>操作</th>
                </tr>
                <tr align="center">
                    <td><a href="/account/order/2012531488472">2012531488472</a></td>
                    <td>2013-02-16 10:52:16</td>
                    <td>￥3.00 元 和 0 K金</td>
                    <td><font color="red">取消</font>,未付款,未发货</td>
                    <td><a href="/account/order/2012531488472">查看详情</a></td>
                </tr>
                <tr align="center">
                    <td><a href="/account/order/2012531488472">2012531488472</a></td>
                    <td>2013-02-16 10:52:16</td>
                    <td>￥3.00 元 和 0 K金</td>
                    <td><font color="red">取消</font>,未付款,未发货</td>
                    <td><a href="/account/order/2012531488472">查看详情</a></td>
                </tr>
                <tr align="center">
                    <td><a href="/account/order/2012500282807">2012500282807</a></td>
                    <td>2013-02-16 10:52:16</td>
                    <td>￥284.00 元 和 0 K金</td>
                    <td><font color="red">订单停止</font>,未付款,未发货</td>
                    <td><a href="/account/order/2012500282807">查看详情</a></td>
                </tr>
            </table>
        </div>
{% endblock %}