{% extends "shop.base.htm" %}

{% block middle %}
        <div id="left">
            <ul id="lm">
                <li><a href="{% url 'account:myOrd' %}" class="on">我的订单</a></li>
                <li><a href="{% url 'account:settings' %}">个人信息</a></li>
                <li><a href="{% url 'account:changepwd' %}">修改密码</a></li>
            </ul>
        </div>
        <div id="right">
            <h3 class="mt5">订单状态</h3>
            <table width="100%" class="mb10 ml5">
                <tr>
                    <td width="100px">订单号：</td>
                    <td>{{ o.sn }}</td>
                </tr>
                <tr>
                    <td>订单状态：</td>
                    <td><font color="red">{{ o.get_status_display }}</font></td>
                </tr>
                <tr>
                    <td>付款状态：</td>
                    <td><strong>{{ o.fnc.cod.get_cod_display }}</strong> | <font color="red">{{ o.fnc.get_status_display }}</font></td>
                </tr>
                <tr>
                    <td>配送状态：</td>
                    <td><strong>{{ o.logcs.cod.get_cod_display }}</strong> | <font color="red">{{ o.logcs.get_status_display }}</font></td>
                </tr>
            </table>
            <h3 class="mb10">商品列表</h3>
            <table width="100%" class="mb10 ml5">
                <tr>
                    <th>商品名称</th>
                    <th>规格</th>
                    <th>原价</th>
                    <th>折扣</th>
                    <th>现价</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
{% for i in o.pro_set.all %}
                <tr class="bline" align="center">
                    <td>{{ i.name }}</td>
                    <td>{{ i.spec }}</td>
                    <td>{{ i.fee|floatformat:2 }}</td>
                    <td>{{ i.get_dis_display }}</td>
                    <td>{{ i.nfee|floatformat:2 }}</td>
                    <td>{{ i.num }}</td>
                    <td>{{ i.total|floatformat:2 }}</td>
                </tr>
{% endfor %}
                <tr class="bline">
                    <td colspan="6" align="right"><span >总计: {{ o.pro_set.all.total|floatformat:2 }}</span></td>
                    <td>&nbsp;</td>
                </tr>
            </table>
            <h3>收货人信息</h3>
            <table width="100%" class="mb10 ml5">
                <tr>
                    <td width="100px">收货人姓名：</td>
                    <td>{{ o.logcs.consignee }}</td>
                </tr>
                <tr>
                    <td>详细地址：</td>
                    <td>{{ o.logcs.area }} | {{ o.logcs.address }}</td>
                </tr>
                <tr>
                    <td>电话：</td>
                    <td>{{ o.logcs.tel }}</td>
                </tr>
                <tr>
                    <td>最佳收货时间：</td>
                    <td>{{ o.logcs.date|date:'Y-m-d' }} | {{ o.logcs.stime|date:'H:i' }} - {{ o.logcs.etime|date:'H:i' }}</td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td>{{ o.logcs.note }}</td>
                </tr>
            </table>
            <center><a href="{% url 'account:myOrd' %}" class="btn btnbr">返回</a></center>
        </div>
{% endblock %}