{% extends "shop.base.htm" %}

{% block middle %}
        <div id="left">
            <ul id="lm">
                <li><a href="{% url 'article:about' %}" class="on">关于31客</a></li>
                <li><a href="{% url 'article:ex' %}">关于K金</a></li>
                <li><a href="{% url 'article:guide' %}">订购指南</a></li>
            </ul>
        </div>
        <div id="right">
            <h3>做最好的提拉米苏</h3>
            <p>提拉米苏的故事,相信许多人都听过，它最早起源于意大利。</p>
            <p>讲的是一位士兵上战场前，心急如焚的爱人因为没有时间烤制蛋糕,只好手忙脚乱地胡乱混合了鸡蛋、可可粉、手指饼、甜酒做成一个速成的蛋糕。虽然制作仓促，但蛋糕却甘香馥郁、嫩滑可口，并满怀着爱人的深深情意，因而提拉米苏的其中的一个含义是&ldquo;记住我&rdquo;。喜欢一个人， 跟他去天涯海角， 而不仅仅是让他记住。所以，提拉米苏还有个含义是&ldquo;带我走&rdquo;。</p>
            <p>提拉米苏还有一个鲜为人知的传说。传说提拉米苏是一款属于爱情的甜品，吃到它的人，会听到爱神的召唤。</p>
            <p>31客的提拉米苏, 沿袭了传说中满怀的爱意，更在做工上精雕细琢。通过多少次累计实践，特殊调制的糖水需要加热到116度，同时需要用高压来避免糖水气化，再将糖水倾倒在打发的配料上，直接烫熟，保持它的蓬松。只有在这个温度，制作出来的提拉米苏才能在蓬松度和口感上达到最好。而后通过严格的低温处理，将马斯卡布尼与布莱本红酒的浓郁封存其中。最后配以高纯度的可可粉,制成31客认为最好的提拉米苏。</p>
            <p>轻轻放入口内，高纯度可可粉特有的苦涩味道，给味觉带来极大的冲击力。接踵而来的是香甜爽滑的马斯卡布尼，夹带着布莱本红酒的陶醉酒香；这是齿边触碰到了特制手指饼的疏松。味觉被提拉米苏拉到了两个极端，从苦涩到甜蜜，还夹杂着陶醉和轻松，让人回味无穷，如同触碰恋爱的感觉。</p>
            <p>恋上31客的提拉米苏，给你和Ta最真的情,最浓的爱意。</p>
            <h3>隐形的翅膀</h3>
            <p>有一些追求，是看不到的。</p>
            <p>追求乳品的品质，坚持使用产自天然牧场的牛奶和乳酪，那里有听着音乐长大的奶牛，挤出健康喜悦的牛奶；追求原料的鲜美，所以寻遍拥有肥沃土壤和充足阳光的果园，在那里苹果、蓝莓、坚果，即使是生长环境最为挑剔的樱桃，都茁壮生长。</p>
            <p>有一些努力，是看不到的，只因为这里是31客。</p>
            <p>每一块蛋糕都用料考究，精工细作。这些看不见的努力，都为了一个目标。让顾客吃得细腻、吃得品味。</p>
            <h3>品牌历史</h3>
            <p>南宁市旺池食品有限公司旗下的31客是一家高速发展的，专业从事高端食品研发、生产、销售的企业。</p>
            <p>31客突破并改变着传统食品行业的经营模式。31客采取工厂（南宁市青秀区东盟商务区）统一生产，网络订购和电话订购并行的电子商务以及传统大客户直销相结合的无店铺销售模式，所有产品均免费点对点配送。</p>
            <p>欧洲做为蛋糕的起源地，几乎每一块蛋糕的产生都伴随着一个个美丽的传说。如今的蛋糕已经不仅仅只是单纯的一块蛋糕，更是人们对于美好事物的一种向往，一种追求。</p>
            <p>真正的欧洲蛋糕对于原料的使用及制作工艺都有着几乎苛刻的要求。使用的必须是真正的乳脂奶油，杜绝任何色素、香精、添加剂及防腐剂。</p>
            <p>31客秉承着欧洲传统的蛋糕文化及品质，严格按照欧洲的蛋糕制作工艺及要求，在中国复原欧洲经典蛋糕 。31客最大程度的保证了产品，服务的高品质，得到了市场的肯定，同时引领食品行业进入了“品质时代”。</p>
            <p>未来31客将努力为更多的消费者提供安全、健康、优质的产品及服务。</p>
            <p>31客，提供的不只是一块蛋糕，更是一种生活，一种品味！</p>
          <h3>31客，做真正的蛋糕</h3>
            <p>真正的蛋糕，不会添加任何色素、香精、防腐剂和对人体有害的反式脂肪酸（植脂奶油）。31客坚持选用最优的天然奶酪，可以促进人体钙吸收，提高抵抗力。90%以上的原材料依赖进口，凡是蛋糕原料中的顶级品，都是我们选购的对象。</p>
            <p>真正的蛋糕，还要遵循欧洲传统的制作工艺。31客不求品种繁多，烤奶酪、提拉米苏、布朗尼、慕斯，这些风靡全球的经典款式，31客传承！</p>
            <p>真正的蛋糕，需要最好的蛋糕师，31客蛋糕能令有十几年丰富经验的蛋糕师头疼。在国内，最好的蛋糕师是要能在蛋糕上裱各种形象，但对于纯天然的乳脂奶油来说，31客拒绝添加稳定剂，注重的是口味而非造型。所以，老师傅来到31客，还得重头学起。</p>
            <p>真正的蛋糕也有缺点。31客蛋糕，由于全部采用乳脂奶油制作，因此保质期很短，也正因如此，31客的蛋糕对于温度的要求也是极为苛刻的。为获得最佳口感，蛋糕全部都是在预约日期当天制作和送出的。31客采用专门制作的冰包来保持蛋糕的低温状态5-7个小时。</p>
            <p>有些追求，你无法看到,追求乳品的品质，坚持使用产自天然牧场的牛奶和乳酪，让你在享受美味的同时兼顾健康的生活。有一些努力，你可能看不到，31客的每一位员工用心做好每一块蛋糕，每一块都纯手工制作，独一无二，与众不同。这些你看不到的努力全部融在这小小的蛋糕里，看不到，却吃得到。</p>
        </div>
{% endblock %}