{% extends "shop.base.htm" %}

{% block section %}
    <menu id="sidebar">
        <li><a href="{% url 'article:about' %}">关于31客</a></li>
        <li><a href="{% url 'article:ex' %}">关于K金</a></li>
        <li><a href="{% url 'article:guide' %}">订购指南</a></li>
        <li><a href="{% url 'article:guide' %}" class="on">31客会员日</a></li>
    </menu>
                <div id="content">
                    <div id="show">
    <h2>31客会员日来了！！</h2>
    <p>为答谢31客会员一直以来对31客的支持，31客从2012年8月份开始，逢31日推出《31客会员特惠日主题活动》。在会员特惠日购买31客指定款蛋糕，将享受8.8折特别优惠。</p>
    <h3>会员日活动细则：</h3>
    <ol>
      <li>会员日特惠产品仅限指定品种（每期2款）、指定日期期限送货的商品。</li>
      <li>下单日期为有31日的每月当天，且须在当天确认付款完成为有效。收货日期限定在下一个会员日之前，重大节假日当天（情人节、儿童节、七夕节、圣诞节等）不安排提货。如须修改收货时间，1.5磅须按配送时间提前5个小时以上联系31客客服修改，如是2.5磅以上，须提前24小时联系31客客服修改。</li>
      <li>此活动不与其它优惠活动同时享用。</li>
      <li>会员参与条件：成功注册成为31客的会员，并成功订购过31客的产品。</li>
    </ol>
<p><b>PS：</b>网页下单，请登陆会员账号，在“我的31客-〉会员日”点击购买！</p>
    <h3>2013年10月31日，会员特惠日活动说明：</h3>
    <ol>
      <li>指定抹茶慕斯、芒果冻奶酪为特惠产品，可选磅数1.5磅\2.5磅\3.5磅。</li>
      <li>须是2013年8月31日当天下单并且完成交易支付的单子为有效单，收货日期限定在下一个会员日之前，即10月31日前. 重大节假日当天（中秋节）不安排提货。如须修改收货时间，1.5磅须按配送时间提前5个小时以上联系31客客服修改，如是2.5磅以上，须提前24小时与31客客服联系修改。</li>
      <li>活动不与其它优惠同时享用。</li>
      <li>会员参与要求：成功注册成为31客的会员，并成功订购过31客的产品。</li>
    </ol>
                    </div>
                </div>
{% endblock %}