{% extends "office.base.htm" %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}order/js/neweditorder.configuration.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}order/js/ord.configuration.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}finance/js/fnc.configuration.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/js/consignee.configuration.js"></script>
{% endblock %}

{% block content %}
        <form action="{{ request.pPath.提交订单 }}" method="POST" id="checkout">
          <table width="100%" cellpadding="3" cellspacing="1" class="sortTable">
            <thead>
            <tr>
              <th>商品名称</th>
              <th width="70px">货号</th>
              <th width="200px">规格</th>
              <th width="90px">折扣</th>
              <th width="90px">单价</th>
              <th width="50px">数量</th>
              <th width="90px">小计</th>
              <th width="100px">操作</th>
            </tr>
          </thead>
          <tbody>
{% for i in items.items %}
            <tr align="center">
              <td>{{ i.item.name }}</td>
              <td>{{ i.item.sn }}</td>
              <td>{{ i.forms.specID }}</td>
              <td>{{ i.forms.disID }}</td>
              <td><span id="nfee{{ i.mark }}">{{ i.nfee|floatformat:2 }}</span></td>
              <td>{{ i.forms.num }}</td>
              <td><span id="st{{ i.mark }}">{{ i.total|floatformat:2 }}</span></td>
              <td><a href="{{ request.pPath.删订单商品 }}?mark={{ i.mark }}" class="button">删除</a></td>
            </tr>
{% endfor %}
          </tbody>
            <tr>
              <td colspan="7"></td>
              <td align="center"><input type="button" value="添加商品" class="button" id="addNewGoods" /></td>
            </tr>
            <tr>
              <td colspan="5">
              </td>
              <td align="right"><strong>合计：</strong></td>
              <td align="center"><span id="total">{{ items.total|floatformat:2 }}</span></td>
              <td></td>
            </tr>
          </table>
          <table width="100%" cellpadding="3" cellspacing="1" id="ord">
            <tr>
              <td width="100px" align="right">{{ ord.user.label }}</td>
              <td width="90%">{{ ord.user }}<input type="button" value="检查会员是否存在" class="button" id="checkUser" /></td>
            </tr>
            <tr>
              <td align="right">{{ ord.typ.label }}：</td>
              <td>{{ ord.typ }}</td>
            </tr>
          </table>          
          <table width="100%" cellpadding="3" cellspacing="1" id="fnc">
            <tr>
              <td width="100px" align="right">{{ fnc.pay.label }}：</td>
              <td width="90%">{{ fnc.pay }}</td>
            </tr>
          </table>
          <table width="100%" cellpadding="3" cellspacing="1" id="logcs">
              <tr>
                  <td width="100px" align="right">{{ logcs.dlvr.label }}：</td>
                  <td width="90%">{{ logcs.dlvr }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.consignee.label }}：</td>
                  <td>{{ logcs.consignee }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.area.label }}：</td>
                  <td>{{ logcs.area }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.address.label }}：</td>
                  <td>{{ logcs.address }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.tel.label }}：</td>
                  <td>{{ logcs.tel }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.date.label }}：</td>
                  <td>{{ logcs.date }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.time.label }}：</td>
                  <td>{{ logcs.time }}</td>
              </tr>
              <tr>
                  <td align="right" valign="top">{{ logcs.note.label }}：</td>
                  <td>{{ logcs.note }}</td>
              </tr>
              <tr>
              <td></td>
              <td id="sbutton">
              </td>
          </tr>
      </table>
      <center>
          {% csrf_token %}
          <input type="submit" name="submit" value="提交订单" class="button" />
      </center>
    </form>
{% endblock %}