{% extends "office.base.htm" %}

{% block content %}
        <form action="order.php" method="POST">
          <h3>商品列表</h3>
          <table width="100%" cellpadding="3" cellspacing="1" id="goodsList">
            <tr>
              <th>商品名称</th>
              <th width="70px">货号</th>
              <th width="200px">规格</th>
              <th width="90px">折扣</th>
              <th width="90px">单价</th>
              <th width="50px">数量</th>
              <th width="90px">小计</th>
              <th width="100px">操作</th>
            </tr>
            <tr>
              <td colspan="7"></td>
              <td align="center"><input type="button" value="添加商品" class="button" id="addNewGoods" /></td>
            </tr>
            <tr>
              <td colspan="5">
              </td>
              <td align="right"><strong>合计：</strong></td>
              <td align="center">￥ <span id="total"></span> 元</td>
              <td></td>
            </tr>
          </table>

        <h3>收货人信息</h3>
        <form action="/cart/checkout/" method="POST" name="checkout" id="checkout">
            <table width="100%" cellpadding="3" cellspacing="1">
                <tr>
                  <td width="100px" align="right">会员帐号：</td>
                  <td><input name="user" type="text" value="" id="user" /><input type="button" value="检查会员是否存在" class="button" id="checkUser" /></td>
                </tr>
                <tr>
                    <td align="right">支付方式：</td>
                    <td>
                        <select name="pay" id="pay">
                            <option value="0"{% if not request.session.c.pay %} selected{% endif %}>请选择支付方式</option>
{% for i in pay %}
                            <option value="{{ i.id }}"{% ifequal i.id|floatformat request.session.c.pay %} selected{% endifequal %} >{{ i.name }}</option>
{% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">配送方式：</td>
                    <td>市内免费送货上门</td>
                </tr>
                <tr>
                    <td align="right">收货人姓名：</td>
                    <td><input name="consignee" type="text" value="{{ request.user.userinfo.consignee|default:request.session.c.consignee }}" id="consignee" /></td>
                </tr>
                <tr>
                    <td align="right">配送区域：</td>
                    <td>
                        <select name="area" id="area">
                            <option value="0"{% if not request.session.c.area %} selected{% endif %}>请选择区域</option>
{% for i in area %}
{% for ii in i.sub_set.all %}
                            <option value="{{ ii.id }}"{% ifequal ii.id|floatformat request.session.c.area %} selected{% endifequal %}>{{ i.name }} - {{ ii.name }}</option>
{% endfor %}
{% endfor %}
                        </select>
                    </td>
                </tr>
                <tr>
                    <td align="right">详细地址：</td>
                    <td width="90%"><input name="address" type="text" value="{{ request.session.c.address }}" size="70" id="address" /></td>
                </tr>
                <tr>
                    <td align="right">联系电话：</td>
                    <td><input name="tel" type="text" value="{{ request.session.c.tel }}" size="40" id="tel" />  ( 请填写多个号码，并用空格隔开。如：134XXXXXXXX 0771XXXXXXX )</td>
                </tr>
                <tr>
                    <td align="right">最佳收货日期：</td>
                    <td>
                        <input name="date" type="text" value="{% if request.session.c.date %}{{ request.session.c.date }}{% else %}{% now "Y-m-d" %}{% endif %}" id="date" class="date" />
                    </td>
                </tr>
            <tr>
                <td align="right">最佳收货时间：</td>
                <td>
                    <select name="time" id="time">
                        <option value="0"{% if not request.session.c.time %} selected{% endif %}>请选择时间</option>
{% for i in signtime %}
                        <option value="{{ i.id }}"{% ifequal i.id|floatformat request.session.c.time %} selected{% endifequal %} >{{ i.start|time:"H:i" }} - {{ i.end|time:"H:i" }}</option>
{% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td align="right" valign="top">备注：</td>
                <td width="90%"><textarea name="note" cols="100" rows="4" id="note">{{ request.user.userinfo.note|default:request.session.c.note }}</textarea></td>
            </tr>
            <tr>
                <td></td>
                <td>
                  <input type="button" value="曲奇礼品" class="button" id="addPostA" />
                  <input type="button" value="礼品两份" class="button" id="addPostB" />
                  <input type="button" value="会员生日巧克力礼品" class="button" id="addPostC" />
                  <input type="button" value="订单号附属品" class="button" id="addPostD" />
                </td>
            </tr>
        </table>
        <center>
            {% csrf_token %}
            <input type="submit" name="submit" value="确认" class="button" />
        </center>
    </form>
{% endblock %}