{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th width="80px">类型</th>
            <th>订单编号</th>
            <th>收货时间</th>
            <th>收货人</th>
            <th>电话 | 会员</th>
            <th>付款方式</th>
            <th>订单状态</th>
          </tr>
{% for i in oList %}
          <tr align="center" class="tr_border_top_black">
            <td>{{ i.get_typ_display }}</td>
            <td><a href="{{ request.pPath.订单 }}{{ i.sn }}/">{{ i.sn }}</a></td>
            <td>{{ i.logcs.date|date:"Y-m-d" }} | {{ i.logcs.stime|time:"H:i" }} - {{ i.logcs.etime|time:"H:i" }}</td>
            <td>{{ i.logcs.consignee }}</td>
            <td>{{ i.logcs.tel }} | {{ i.user.username}}</td>
            <td>{{ i.fnc.cod.get_cod_display }}</td>
            <td>{{ i.get_status_display }} | {{ i.fnc.get_status_display }} | {{ i.logcs.get_status_display }}</td>
          </tr>
{% for item in i.pro_set.all %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.nfee|floatformat:2 }}</td>
            <td>{{ item.get_dis_display }}</td>
            <td>{{ item.num }}</td>
            <td>{{ item.total|floatformat:2 }}</td>
          </tr>
{% endfor %}
          <tr>
            <td align="center">地址</td>
            <td colspan="5"><a href="{{ request.pPath.地图 }}?k={{ i.logcs.address|urlencode }}" target="_blank">[ {{ i.logcs.area }} ] {{ i.logcs.address }}</a></td>
            <td align="center">{{ i.fee.paid|stringformat:"0.2f" }}</td>
          </tr>          
          <tr>
            <td align="center">备注</td>
            <td colspan="5">{{ i.logcs.note }}</td>
            {% optr i %}
          </tr>
{% endfor %}
          {% include 'page.htm' %}
      </table>
{% endblock %}