{% extends "wechat.base.htm" %}


{% block section %}
      <div id="container">
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
        <div class="col-xs-12">.col-xs-12</div>
      </div>
        <div class="row">
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
          <div class="col-md-1">.col-md-1</div>
        </div>

        <ul class="pinBox">
{% for i in items %}
         <li class="mb30 item">
         <h1 class="pb25 pl5">{{ forloop.counter|stringformat:"02i" }}. <a href="{% url 'wechat:wechatShowTag' i.name|urlencode %}">{{ i.name }}</a></h1>
            {% for ii in i.itemimg_set.getBImgs %}
            <img alt="{{ i.name }}" title="{{ i.name }}" data-src="{{ ii.img.url }}" />
            {% endfor %}
            <div class="pinSide">
                <h2><a href="{% url 'wechat:wechatShowTag' i.name|urlencode %}">{{ i.name }}</a></h2>
                <p class="pinDes">{{ i.itemdesc_set.getAll.0.desc }}</p>
                <ul class="pinInfo">
                    <li class="addDate">{{ i.addTime }}</li>
                    <li class="pv">销量 {{ i.click }}</li>
                    <li class="like">喜欢 <span class="count_like_{{ i.id }}">{{ i.like }}</span></li>
                </ul>
                <div class="tags">
                    <ul class="fl">
    {% for iii in i.tag.getByRandom|slice:":9" %}
                    <li class="mlr5 lh26"><a href="{% url 'wechat:wechatShowTag' iii.tag|urlencode %}">{{ iii.tag }}</a></li>
    {% endfor %}
                    </ul>
                </div>
                <div class="vote">
                    <a class="btn btnbr btnLike" href="{% url 'tag:itemLike' i.id %}">喜欢</a>
                    <a class="btn btnbr btnBuy" href="{% url 'tag:getSpec' i.id %}">购买</a>
                </div>
            </div>
            </li>
{% endfor %}
        </ul>
{% endblock %}