/* Overall: Start */
body{
  margin:5px;
  color: #FFFFFF;
  background:#278296;
  font: 12px "sans-serif", "Arial", "Verdana";
}

*{
  margin: 0px;
  padding: 0px;
}

table, img, li, ul{
  border:0 none;
}

ul{
  list-style-type: none;
}

a{
  white-space:nowrap;
  color: #335B64;
  text-decoration: none;
}

a:hover{
  color: #EB8A3D;
}

select{
  height:22px;
  line-height:22px;
  border:solid 1px #CDCDCD;
}

input{
  height:20px;
  line-height:20px;
  border:solid 1px #CDCDCD;
  padding:0 0 0 1px;
  vertical-align:bottom;
}

textarea{
  border:solid 1px #CDCDCD;
  padding:2px;
}

p{
  text-indent:1em;
}

input.button{
  color: #666;
  font-size: 12px;
  height:22px;
  padding: 0 2px 0 2px;
  margin:0 5px 0 5px;
  border:1px solid #278296;
  border-right:2px solid #278296;
  border-bottom:2px solid #278296;
  background:#DDEEF2;
  cursor:pointer;
}

input.button:active{
  color: #666;
  font-size: 12px;
  height:22px;
  padding: 0 2px 0 2px;
  margin:0 5px 0 5px;
  border:1px solid #278296;
  border-top:2px solid #278296;
  border-left:2px solid #278296;
  background:#DDEEF2;
  cursor:pointer;
}

.tr_border_top_black td{
  background-color: #F4FAFB;
  border-top: 1px solid #000;
}

.wow_item_0{ color: #9D9D9D !important; } /* poor (gray) */
.wow_item_1{ color: #000000 !important; } /* common (white) */
.wow_item_2{ color: #1EFF00 !important; } /* uncommon (green) */
.wow_item_3{ color: #0081FF !important; } /* rare (blue) */
.wow_item_4{ color: #C600FF !important; } /* epic (purple) */
.wow_item_5{ color: #FF8000 !important; } /* legendary (orange) */
.wow_item_6{ color: #E5CC80 !important; } /* artifact (gold) */
.wow_item_7{ color: #E5CC80 !important; } /* heirloom (gold) */
.wow_item_8{ color: RED !important; } /* epic (red) */

.on{color: #EB8A3D;}

/* Overall: End */


/* navMenu: Start */

#navMenu{
  float:left;
  padding:2px 0px;
  color: #335B64;
  background:#FFFFFF;
  position: fixed; 
  top:5px; 
  right:-760px;
  border:1px solid #BBDDE5;
  box-shadow:0 0 3px #A7A3A3;
  border-radius: 3px 0 0 3px;
  z-index:998;
}

#navMenu li{
  padding:0 0 0 10px;
  line-height:16px;
  float:left;
  margin:0 5px;
  font-weight: bold;
  position: relative;
}

#navMenu #showNav{
  display: block;
  width: 22px;
  height: 16px;
  padding: 0 10px 0 0;
  background: url(/images/ico_showmorer.png) no-repeat;
}

#navMenu .messagePop{position:absolute;z-index:999;min-width:54px;background:#FFF;box-shadow:0 2px 4px rgba(30, 25, 25, 0.5);overflow:hidden;top:25px;left: 0;  border-radius: 3px;}
#navMenu .messagePop li{float:none;width:100%;margin:0px;padding:0px;}
#navMenu .messagePop li a{display:block;height:27px;line-height:27px;padding:0 10px;}
#navMenu .messagePop li a:hover{display:block;background:#EB8A3D;height:27px;line-height:27px;color:#FFF;padding:0 10px;border-radius:3px;}

/* navMenu: End */


/* header: Start */

#header{
  width:99.8%;
  min-width: 640px;
  min-height: 49px;  
}

#header a{
  color: #FFFFFF;
}

#header a:hover{
  color: #F5C29A;
}

#header #urHere{
  height:24px;
  width: 100%;
  float:left;
  color:#9CACAF;
}

#header #urHere a{
  color:#9CACAF;
}

#header #urHere a:hover{
  color:#EB8A3D;
}

#header #urHere #index{
  line-height:24px;
  font-size:14px;
  font-weight: bold;
  color:#FFFFFF;
}

#header #adminName{
  display:block;
  float:right;
  padding: 0 10px 0 10px;
  margin: 3px 0 0 0;
  border-left: 1px solid #FFF;
  white-space:nowrap;
}

#header #otherBar li{
  display:block;
  float: left;
  padding: 0 10px 0 10px;
  margin: 3px 0 0 0;
  border-left: 1px solid #FFF;
  white-space:nowrap;
}

#header #toolsBar{
  display:block;
  float:left;
  font-weight: bold;
}

#header #toolsBar li{
  display:block;
  float: left;
  border-top: 1px solid #FFF;
  border-right: 1px solid #BBDDE5;
  border-left:1px solid #BBDDE5;
}

#header #toolsBar a{
  display:block;
  line-height:24px;
  padding:0 20px 0 20px;
  text-decoration:none;
  color:#335B64;
  background:#9CCBD6;
}

#header #toolsBar a:hover{
  color: #000000;
}

/* header: End */


/* content: Start */

#content{
  width:99.8%;
  min-width: 640px;
  margin:0 0 10px 0;
  background:#DDEEF2;
  color:#278296;
  border: 1px solid #BBDDE5;
}

#content table{
  background: #EEF8F9;
  border:1px solid #BBDDE5;
  margin:0 0 15px;
}

#content table th{
  padding:0 5px;
  line-height: 24px;
  background: #BBDDE5;
  white-space: nowrap;
  cursor: pointer;
  /* background-image: url(../images/bg.gif); */
  background-repeat: no-repeat;
  background-position: center right;
}

#content table .headerSortUp{
  background-image: url(../images/s_asc.png);
}

#content table .headerSortDown{
  background-image: url(../images/s_desc.png);
}

#content table td{
  background:#FFFFFF;
  line-height:22px;
  padding:0 5px 0 5px;
  color:#192E32;
}

#content .tr_border_top_black td{
  background-color: #F4FAFB;
  border-top: 1px solid #000;
}

#content a:hover{
  color:#9D7250;
}

/* #content input{
  vertical-align: -10%;
} */

/* #content img{
  vertical-align: text-decoration;
} */

#content h3{
  padding:3px;
}

#content #search{
  background:#F4FAFB;
  border:1px solid #BBDDE5;
  color:#9CACAF;
  font-size:14px;
  padding:2px 10px 7px 10px;
  margin:0 0 10px 0;
}

#content #search img,
#content #search select,
#content #search input
{
  vertical-align:bottom;
}

#content #search button,
#content #search span
{
  vertical-align:-65%;
}

#content table button
{
  vertical-align:-20%;
}

#content #search .button{
  vertical-align:-55%;
}

#content #actionLink{
  display:block;
  height:24px;
  background: #F4FAFB;
  border: 1px solid #BBDDE5;
  color: #9CACAF;
  padding:7px 10px 7px 10px;
  margin: 0 0 10px 0;
}

#content #actionLink a{
  color: #666;
  font-size: 12px;
  display:block;
  float:right;
  padding:2px 5px 2px 5px;
  *padding:4px 5px 2px 5px;
  margin:0 5px 0 5px;
  border:1px solid #278296;
  border-right:2px solid #278296;
  border-bottom:2px solid #278296;
  background:#DDEEF2;
}

#content #actionLink a:active{
  color: #666;
  font-size: 12px;
  display:block;
  float:right;
  padding:2px 5px 2px 5px;
  *padding:4px 5px 2px 5px;
  margin:0 5px 0 5px;
  border:1px solid #278296;
  border-top:2px solid #278296;
  border-left:2px solid #278296;
  background:#DDEEF2;
}

#content #pageSize{
  vertical-align:-10%;
}

#content #pageLink{
  margin:0 1em 0 1em;
  padding-left: 1em;
  border-left: 1px solid #999;
}

#content #message{
  background: #EEF8F9;
  border:1px solid #BBDDE5;
  margin:10px;
  padding:10px;
}

#content #message p, #content #message h1, #content #message ul{
  text-align:center;
}

#content #message p{
  line-height:24px;
}

#content #message h1{
  color:#192E32;
  line-height:40px;
}

#content center{
  margin:10px;
}

#content center a{
  color:#666;
  font-size:12px;
  padding:2px 5px 2px 5px;
  *padding:4px 5px 2px 5px;
  margin:0 5px 0 5px;
  border:1px solid #278296;
  border-right:2px solid #278296;
  border-bottom:2px solid #278296;
  background:#DDEEF2;
}

/* content: End */

#footer{
  width:99.8%;
  min-width: 640px; 
  padding:15px 0px;
  background:#DDEEF2;
  color:#9CACAF;
  border: 1px solid #BBDDE5;
}

#footer p{
  text-align:center;
}


/* neatDialog: Start */

#neatDialogCont{
  background: none transparent scroll repeat 0% 0%;
  left: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  z-index: 98;
}

#neatDialogCont #neatDialog{
  border:#59B0FF 3px solid;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  height:auto;
  /* width: 620px; */
  position: relative;
  background-color: #FFFFFF;
  padding:5px 5px 20px 5px;
}

#neatDialogCont #neatDialog center{
  margin-top:10px;
}

#neatDialogCont #neatDialog table{
  /* background: #EEF8F9; */
  /* border:1px solid #BBDDE5; */
  margin:0 0 15px 0;
  /* line-height:22px; */
}

#neatDialogCont #neatDialog table th{
  padding:0 0 0 5px;
  line-height: 24px;
  background: #BBDDE5;
  white-space: nowrap;
  color:#278296;
}

#neatDialogCont #neatDialog table td{
  /* background:#FFFFFF; */
  line-height:22px;
  color:#192E32;
  padding:0 0 0 5px;
}

#neatDialogCont #neatDialog table td.label{
  white-space:nowrap;
  text-align: right;
  vertical-align: top;
  font-weight: bold;
  /* padding: 5px 1em; */
  width:95px;
}

#neatDialogCont #neatDialog table input{
  border:solid 1px #CDCDCD;
  vertical-align:text-bottom;
}

#neatDialogCont #neatDialog h4{
  padding:15px 0 15px 15px;
  border-bottom: #EBEBED 2px solid;
}

#neatDialogCont #neatDialog p{
  padding:0.2em 0.2em 0.2em 0.2em;
  text-align: center
}

#neatDialogCont #neatDialogBg{
  z-index: -1;
  filter: alpha(opacity=50);
  left: 0px;
  width: 100%;
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #EEE;
  opacity: 0.5;
}

#neatDialogCont #mask{
  position: absolute;
  z-index: 9;
  width: 1344px;
  height: 929px;
  top: 0px;
  left: 0px;
  background-image: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: rgb(255, 255, 255);
  opacity: 0.4;
  background-position: initial initial;
  background-repeat: initial initial;
}

#neatDialogCont #iframe{
/*   position:absolute; */
  border: 0px;
  width:100%;
  height:100%;
}

/* neatDialog: End */


/* showDialog: Start */

#showDialog{
  border:#59B0FF 3px solid;
  z-index: 99;
  right: 0px;
  /* width: 620px; */
  position: absolute;
  background-color: #FFFFFF;
  padding:5px;
}

#showDialog table th{
  padding:0 0 0 5px;
  line-height: 24px;
  background: #BBDDE5;
  white-space: nowrap;
  color:#278296;
}

#showDialog table td{
  background:#FFFFFF;
  line-height:22px;
  color:#192E32;
  padding:0 0 0 5px;
}

#showDialog table input{
  border:solid 1px #CDCDCD;
  vertical-align:text-bottom;
}

/* showDialog: End */

.a_button{
  display:block;
  float: left;
  border:1px solid #278296;
  border-right:2px solid #278296;
  border-bottom:2px solid #278296;
  padding:2px 5px;
  margin:0px 5px;
  background-color:rgb(220, 238, 242);
}
.a_button:active{
  display:block;
  float: left;
  border:1px solid #278296;
  border-top:2px solid #278296;
  border-left:2px solid #278296;
  padding:2px 5px;
  margin:0px 5px;
  background-color:rgb(220, 238, 242);
}

.div_for_full{
  display:block;
  height:22px;
  background:#F4FAFB;
  border:1px solid #BBDDE5;
  padding: 7px 10px 7px 10px;
  margin: 0 0 10px 0;
  color:#9CACAF;
}