<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{% block title %}{{ request.domElement.get_path_display }}{% endblock %} - new31管理中心</title>
    <meta name="Keywords" content="{% block keywords %}31客,31客蛋糕,蛋糕{% endblock %}" />
    <meta name="Description" content="{% block description %}蛋糕电子商务{% endblock %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
    <link href="{{ STATIC_URL }}office/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.zebra_datepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jgd.dropdown.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zebra_datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jgd.dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}office/js/base.js"></script>
    <script type="text/javascript">
        var csrf = "{% csrf_token %}";
    </script>
    {% block js %}{% endblock %}
<!--[if IE 6]>
    <script type="text/javascript" src="{{ STATIC_URL }}js/DD_belatedPNG.js"></script>
    <script type="text/javascript">
        DD_belatedPNG.fix('img, .logo');
    </script>
<![endif]-->
</head>          
<body>
    <ul id="navMenu">
      <li><a href="/" id="showNav"></a></li>
      <li>
        <a href="{{ request.pPath.订单 }}" class="nav">订单管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{{ request.pPath.订单 }}">订单</a></li>
            <li><a href="/back/">退货</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{{ request.pPath.物流 }}" class="nav">物流管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{{ request.pPath.物流 }}">物流</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{{ request.pPath.生产 }}" class="nav">生产管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{{ request.pPath.生产 }}">生产</a></li>
            <li><a href="{{ request.pPath.备货 }}">备货</a></li>
            <li><a href="{{ request.pPath.物料 }}">物料</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/after/" class="nav">售后管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/after/">普销</a></li>
            <li><a href="/tryeat/">试吃</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/discount/" class="nav">促销管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/applytryeat/">试吃</a></li>
            <li><a href="/discount/">会员折扣</a></li>
            <li><a href="/ticket/">蛋糕券</a></li>
            <li><a href="/integral/">积分换购</a></li>
            <li><a href="/party/">活动</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/finance/" class="nav">财务管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{{ request.pPath.财务 }}">财务</a></li>
            <li><a href="/finance/">零钱</a></li>
            <li><a href="/reimburse/">退款</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/statistics/" class="nav">报表统计</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/statistics/">订单统计</a></li>
            <li><a href="/statssale/">销售明细</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/member/" class="nav">会员管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/member/">会员信息</a></li>
            <li><a href="/memberint/">会员积分</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/purview/" class="nav">权限管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/purview/">权限分配</a></li>
            <li><a href="/adminlog/">管理员日志</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/system/" class="nav">系统设置</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="/item/item/">商品</a></li>
            <li><a href="/spec/">规格</a></li>
            <li><a href="/tag/tag/">标签</a></li>
            <li><a href="/slide/">首页幻灯片</a></li>
            <li><a href="/payment/">支付方式</a></li>
            <li><a href="/area/">配送区域</a></li>
            <li><a href="/signtime/">收货时间</a></li>
            <li><a href="/logistics/time/">物流时间</a></li>
            <li><a href="/filecheck/">文件校验</a></li>
          </ul>
        </div>
      </li>
      <li><a href="{{ request.nPath.商城 }}" target="_blank">查看网店</a></li>
{% if user.is_superuser %}
      <li><a href="{{ request.nPath.站点管理 }}" target="_blank">站点管理</a></li>
{% endif %}
      <li><a href="{{ request.nPath.登出 }}">登出</a></li>
    </ul>
    <div id="header">
        <div id="urHere"><a href="/office/" id="index">31kecake 管理中心</a> {% if request.domElement %} <a href="{{ request.domElement.path }}">{{ request.domElement.get_path_display }}</a>{% endif %}</div>
        <ul id="toolsBar">
          <li><a href="{{ request.pPath.新订单 }}">新订单</a></li>
          <li><a href="{{ request.pPath.地图 }}">地图</a></li>
          <li><a href="{{ request.pPath.物流安排 }}?c=-1">物流安排</a></li>
          <li><a href="{{ request.pPath.票据打印 }}">票据打印</a></li>
        </ul>
        <span id="adminName">{{ request.user.username }} [ {% if request.user.is_superuser %}超级管理员{% else %}普通管理{% endif %} ]</span>
    </div>
        <div class="pWhite">

    <div id="content">
{% if messages %}
        <ul class="messagelist">
{% for i in messages %}
            <li class="{{ i.tags }}">{{ i|striptags }}</li>
{% endfor %}
        </ul>
{% endif %}
{% if request.domElement.sub_set.getDomElement %}
        <div id="tool">
          <ul class="action">
{% for i in request.domElement.sub_set.getDomElement %}
              <li><a href="{{ i.path }}" class="button">{{ i.get_path_display }}</a></li>
{% endfor %}
          </ul>
        </div>
{% endif %}
{% block content %}{% endblock %}
    </div>
      <div id="footer">
        <p>版权所有 &copy; 2012-2013 leiddx，并保留所有权利。</p>
      </div>
</body>
</html>