<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
        <title>{% block title %}{% if request.title %}{{ request.title }} {% endif %}{% endblock %} - new31管理中心</title>
        <meta name="Keywords" content="{% block keywords %}31客,31客蛋糕,蛋糕{% endblock %}" />
        <meta name="Description" content="{% block description %}蛋糕电子商务{% endblock %}" />
        <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
        <link href="{{ STATIC_URL }}shop/css/css.css" rel="stylesheet" type="text/css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.zebra_datepicker.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.debug.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jgd.dropdown.min.css" />
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.scrollLoading-min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zebra_datepicker.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dialog.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.debug.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jgd.dropdown.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}shop/js/comm.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}shop/js/base.configuration.js"></script>
        <script type="text/javascript">
            var csrf = "{% csrf_token %}";
            $(document).ready(function() {
                {% block javascript %}{% endblock %}
            });
        </script>
        {% block js %}{% endblock %}
    <!--[if IE 6]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/DD_belatedPNG.js"></script>
        <script type="text/javascript">
           DD_belatedPNG.fix('img, .jgd-dropdown dt'); 
        </script>
    <![endif]-->
    </head> 
    <body>
        <div id="tb">
            <dl id="bar">
                <dt>Tel：4000-5927-31</dt>
                <dd>
                    <a href="{% url 'order:queryOrd' %}">订单查询</a>
                    <a href="{% url 'cart:cart' %}">购物车</a>
{% if user.is_authenticated %}
                    <a href="{% url 'account:myOrd' %}">我的订单（ {{ user.newOrd|default:0 }} ）</a>
                    <a href="{% url 'account:logout' %}">登出</a>
{% else %}
                    <a href="{% url 'account:login' %}">登录</a>
{% endif %}
                </dd>
                <!--[if !IE]><!--><div class="clear"></div><!--<![endif]-->  
            </dl>
        </div>
        <div id="main">
            <div id="top">
                <dl class="mti" id="logo">
                    <dt><a href="{% url 'shop:shop' %}" title="31客">31KECAKE</a></dt>
                    <dd><!-- <img src="{{ static }}new31/images/13741335652678.jpg" width="150" height="86"/> --></dd>
                </dl>
                <ul class="menu">
                    <li>
                        <a href="{% url 'shop:shop' %}#logo">首页</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:shop' %}#cake">蛋糕</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:shop' %}#cookie">曲奇</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:shop' %}#chocolate">巧克力</a>
                    </li>
                    <li>
                        <a href="{% url 'shop:shop' %}#pie">派</a>
                    </li>
                </ul>
            </div>
            <div id="middle">
{% if messages %}
        <ul class="messagelist">
{% for i in messages %}
            <li class="{{ i.tags }} bline">{{ i|striptags }}</li>
{% endfor %}
        </ul>
{% endif %}
{% block middle %}{% endblock %}
                <!--[if !IE]><!--><div class="clear"></div><!--<![endif]-->
            </div>
            <div id="ft">
                <dl id="foot">
                    <dt><a href="{% url 'article:about' %}">关于31客</a></dt>
                    <dd>Tel：0771-5676920 0771-5676753</dd>
                    <!--[if !IE]><!--><div class="clear"></div><!--<![endif]-->
                </dl>
            </div>
            <!--[if !IE]><!--><div class="clear"></div><!--<![endif]-->
        </div>
    </body>
</html>