{% extends "shop.base.htm" %}

{% block content %}
{% load highlight %}
<form method="get" action="">
    {% if query %}
        <h3>结果</h3>

        {% for result in page.object_list %}
            <p>
                <a href="{{ result.object.get_absolute_url }}">{{ result.object.Title }}</a><br/>
                {% highlight  result.object.Description with query css_class "keyword" %}
            </p>
        {% empty %}
            <p>没有结果发现.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}<a href="?q={{ query }}&page={{ page.previous_page_number }}">{% endif %}« Previous{% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&page={{ page.next_page_number }}">{% endif %}Next »{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
</form>
        <div class="pWhite">
            <form action="" method="post">
            	{% csrf_token %}
                <input id="id_q" name="q" class="searchInput" type="text" value="巧克力">
                <input class="btnB bBtn" id="searchSub" type="submit" name="key" value="搜索">
            </form>
            <p class="title">共找到1072种关于“巧克力”的产品</p>
            <ul class="item">
                <li>
                    <a href="/tag/109218197/" target="_blank">
                        <img src="/m/d30be899e5f641688113333d4c61eefd_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">1</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/108940171/" target="_blank">
                        <img src="/m/12985fc0d9784e37815b7311da095dfe_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: 0px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/14</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">1</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/92684717/" target="_blank">
                        <img src="/m/87068ee859424f8780feb3db05802117_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/5/16</span>
                            <span class="like_icon">1</span>
                            <span class="chat_icon">2</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/109215822/" target="_blank">
                        <img src="/m/5eff4aa5939d48ef80e1d04f883de263_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/111346278/" target="_blank">
                        <img src="/m/dd1e36dcc16442a0ac9091ded849ef3b_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/23</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/111347053/" target="_blank">
                        <img src="/m/9780ca4bbee74bf9aed086cbadcb7d10_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/23</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/111342128/" target="_blank">
                        <img src="/m/ef90a915154b4e46823bd269e4c88c68_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/23</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/109224078/" target="_blank">
                        <img src="/m/5fa0b843479949fda00cc41eece61b92_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/109220971/" target="_blank">
                        <img src="/m/ee3d52dc31c94a94b3efd4bd133415dd_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/109216080/" target="_blank">
                        <img src="/m/d049aff8e58e4322ab26b54bc588b46a_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/109214701/" target="_blank">
                        <img src="/m/fcbd37a846bb4981bbb1a4880655bb0f_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/15</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/108945935/" target="_blank">
                        <img src="/m/45a9c33939ec407ba2fd15d99cc13dcc_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/14</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/108941074/" target="_blank">
                        <img src="/m/226dc6a19ee74b92870b945352cf597f_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/14</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/108939519/" target="_blank">
                        <img src="/m/1b6018e990c148bbb691a8da6a3b3d5b_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/14</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
                <li>
                    <a href="/tag/108937104/" target="_blank">
                        <img src="/m/357dfca57d104896813508a2bcbd494e_s_200.jpg" width="160" height="160" alt="">
                        <span class="photoFloatInfo" style="bottom: -50px;">
                            <span class="username">原生泰</span>
                            <span class="date">2011/7/14</span>
                            <span class="like_icon">0</span>
                            <span class="chat_icon">0</span>
                        </span>
                    </a>
                </li>
            </ul>
            <div class="page">
                <span class="btnGr sBtn">上一页</span><span class="on">1</span><a href="/search/?page=2&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">2</a><a href="/search/?page=3&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">3</a><a href="/search/?page=4&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">4</a><a href="/search/?page=5&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">5</a><a href="/search/?page=6&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">6</a><a href="/search/?page=7&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">7</a><span>...</span><a href="/search/?page=70&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">70</a><a href="/search/?page=71&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">71</a><a class="btnGr sBtn" href="/search/?page=2&key=%E5%B7%A7%E5%85%8B%E5%8A%9B">下一页</a>
            </div>
        </div>
{% endblock %}