<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="Keywords" content="{$keywords}" />
  <meta name="Description" content="{$description}" />
  <title>{$lang.cp_home}{if $ur_here} - {$ur_here} {/if}</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link href="styles/style.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div id="wrapper">
    {include file="menu.htm"}

    <div id="main">
      {include file="top.htm"}

    <div id="info">
      <table width="100%">
        <tr>
          <th colspan="4" align="left">{$lang.order_stat}</th>
        </tr>
        <tr>
          <td width="15%"><a href="order.php?act=list&condition={$status.await_ship}">{$lang.await_ship}</a></td>
          <td width="35%"><strong style="color: red">{$order.await_ship}</strong></td>
          <td width="15%"><a href="order.php?act=list&condition={$status.unconfirmed}">{$lang.unconfirmed}</a></td>
          <td width="35%"><strong>{$order.unconfirmed}</strong></td>
        </tr>
        <tr>
          <td><a href="order.php?act=list&condition={$status.await_pay}">{$lang.await_pay}</a></td>
          <td><strong>{$order.await_pay}</strong></td>
          <td><a href="order.php?act=list&condition={$status.finished}">{$lang.finished}</a></td>
          <td><strong>{$order.finished}</strong></td>
        </tr>
        <tr>
          <td><a href="back_order.php">{$lang.new_reimburse}</a></td>
          <td><strong>{$new_repay}</strong></td>
          <td><td>
          </td></td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <th colspan="4" align="left">{$lang.acess_stat}</th>
        </tr>
        <tr>
          <td width="15%">{$lang.online_users}</td>
          <td width="35%"><strong>{$online_users}</strong></td>
          <td width="15%"><a href="members_feed.php">{$lang.new_feedback}</a></td>
          <td width="35%"><strong>{$feedback_number}</strong></td>
        </tr>
      </table>
      <table width="100%">
        <tr>
          <th colspan="4" align="left">{$lang.system_info}</th>
        </tr>
        <tr>
          <td width="15%">{$lang.os}</td>
          <td width="35%">{$sys_info.os} ({$sys_info.ip})</td>
          <td width="15%">{$lang.web_server}</td>
          <td width="35%">{$sys_info.web_server}</td>
        </tr>
        <tr>
          <td>{$lang.php_version}</td>
          <td>{$sys_info.php_ver}</td>
          <td>{$lang.mysql_version}</td>
          <td>{$sys_info.mysql_ver}</td>
        </tr>
        <tr>
          <td>{$lang.safe_mode}</td>
          <td>{$sys_info.safe_mode}</td>
          <td>{$lang.safe_mode_gid}</td>
          <td>{$sys_info.safe_mode_gid}</td>
        </tr>
        <tr>
          <td>{$lang.socket}</td>
          <td>{$sys_info.socket}</td>
          <td>{$lang.timezone}</td>
          <td>{$sys_info.timezone}</td>
        </tr>
        <tr>
          <td>{$lang.gd_version}</td>
          <td>{$sys_info.gd}</td>
          <td>{$lang.zlib}</td>
          <td>{$sys_info.zlib}</td>
        </tr>
        <tr>
          <td>{$lang.ec_charset}</td>
          <td>{$ecs_charset}</td>
          <td>{$lang.max_filesize}</td>
          <td>{$sys_info.max_filesize}</td>
        </tr>
      </table>
    </div>
      {include file="footer.htm"}

  </div>
</body>
</html>