<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
    <title>{% block title %}{% if request.title %}{{ request.title }} {% endif %}{% endblock %} - new31管理中心</title>
    <meta name="Keywords" content="{% block keywords %}31客,31客蛋糕,蛋糕{% endblock %}" />
    <meta name="Description" content="{% block description %}蛋糕电子商务{% endblock %}" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" type="image/x-icon" />
    <link href="{{ STATIC_URL }}office/css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.zebra_datepicker.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.debug.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/jquery.jgd.dropdown.min.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.tablesorter.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.zebra_datepicker.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.dialog.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.debug.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.jgd.dropdown.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}office/js/base.js"></script>
    {% block js %}{% endblock %}
</head>
<body>
    <ul id="navMenu">
      <li><a href="{% url 'shop:shop' %}" id="showNav"></a></li>
      <li>
        <a href="{% url 'order:ords' %}" class="nav" title="订单管理">订单管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'order:ords' %}">订单</a></li>
            <li><a href="{% url 'order:ords' %}">退货</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'logistics:logcs' %}" class="nav">物流管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'logistics:logcs' %}">物流</a></li>
            <li><a href="{% url 'print:printOrd' %}">票据打印</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'produce:produce' %}" class="nav">生产管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'produce:produce' %}">生产</a></li>
            <li><a href="{% url 'inventory:inventory' %}">备货</a></li>
            <li><a href="{% url 'bom:bom' %}">物料</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'bom:bom' %}" class="nav">售后管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'bom:bom' %}">普销</a></li>
            <li><a href="{% url 'bom:bom' %}">试吃</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'discount:dis' %}" class="nav">促销管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'discount:dis' %}">试吃</a></li>
            <li><a href="{% url 'discount:dis' %}">会员折扣</a></li>
            <li><a href="{% url 'discount:dis' %}">提货券</a></li>
            <li><a href="{% url 'discount:dis' %}">积分换购</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'finance:fnc' %}" class="nav">财务管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'finance:fnc' %}">财务</a></li>
            <li><a href="{% url 'finance:fnc' %}">零钱</a></li>
            <li><a href="{% url 'finance:fnc' %}">退款</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'bom:bom' %}" class="nav">报表统计</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'bom:bom' %}">订单统计</a></li>
            <li><a href="{% url 'bom:bom' %}">销售明细</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'account:member' %}//" class="nav">会员管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'account:member' %}">会员信息</a></li>
          </ul>
        </div>
      </li>
<!--       <li>
        <a href="{% url 'purview:purview' %}" class="nav">权限管理</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'purview:purview' %}">权限分配</a></li>
            <li><a href="{% url 'log:log' %}">管理员日志</a></li>
          </ul>
        </div>
      </li>
      <li>
        <a href="{% url 'purview:purview' %}" class="nav">系统设置</a>
        <div class="messagePop" style="display:none;">
          <ul>
            <li><a href="{% url 'item:items' %}">商品</a></li>
            <li><a href="{% url 'spec:spec' %}">规格</a></li>
            <li><a href="{% url 'tag:randomShow' %}">标签</a></li>
            <li><a href="{% url 'upload:upload' %}">首页幻灯片</a></li>
            <li><a href="{% url 'payment:pays' %}">支付方式</a></li>
            <li><a href="{% url 'area:area' %}">配送区域</a></li>
            <li><a href="{% url 'signtime:signtime' %}">收货时间</a></li>
          </ul>
        </div>
      </li> -->
      <li><a href="{% url 'shop:shop' %}" target="_blank">查看网店</a></li>
{% if user.is_superuser %}
      <li><a href="{% url 'admin:index' %}" target="_blank">站点管理</a></li>
{% endif %}
      <li><a href="{% url 'account:logout' %}">登出</a></li>
    </ul>
    <div id="header">
        <div id="urHere"><a href="{% url 'office:office' %}" id="index">31kecake 管理中心</a> {% if request.domElement %} <a href="{{ request.path }}">{{ request.title }}</a>{% endif %}</div>
        <ul id="toolsBar">
          <li><a href="{% url 'order:newOrdFrm' %}">新订单</a></li>
          <li><a href="{% url 'logistics:baiduMap' %}">地图</a></li>
          <li><a href="{% url 'logistics:logcsView' %}?c=-1">物流安排</a></li>
          <!-- <li><a href="{% url 'print:printOrd' %}">票据打印</a></li> -->
        </ul>
        <span id="adminName">{{ user.username }} [ {% if user.is_superuser %}超级管理员{% else %}普通管理{% endif %} ]</span>
    </div>
    <div id="content">
{% if messages %}
        <ul class="messagelist">
{% for i in messages %}
            <li class="{{ i.tags }}">{{ i|striptags }}</li>
{% endfor %}
        </ul>
{% endif %}
{% if request.domElement.sub %}
        <div id="tool">
            <ul class="action">
{% for i in request.domElement.sub %}
                <li><a href="{% url i.0 %}" class="button">{{ i.1 }}</a></li>
{% endfor %}
            </ul>
        </div>
{% endif %}
{% block content %}{% endblock %}
    </div>
    <div id="footer">
      <p>版权所有 &copy; 2012-2013 leiddx，并保留所有权利。</p>
    </div>
    <!--[if IE 6]>
        <script type="text/javascript" src="{{ STATIC_URL }}js/DD_belatedPNG.js"></script>
        <script type="text/javascript">
            DD_belatedPNG.fix('img, .logo');
        </script>
    <![endif]-->
    <script type="text/javascript">
      var csrf = "{% csrf_token %}";
      $(document).ready(function() {
          {% block javascript %}{% endblock %}
      });
    </script>
</body>
</html>