{% extends "shop.base.htm" %}

{% block title %}香浓巧克力{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/shop/tag.configuration.js"></script>
{% endblock %}

{% block content %}
        <p class="viewDown">向下滚动浏览</p>
        <ul class="pinBox">
{% for i in item.itemimg_set.all %}
         <li>
                <img alt="{{ i.itemName.itemName }}" title="{{ i.itemName.itemName }}" src="{{ i.img.url }}" width="{{ i.img.width }}px" />
                <div class="pinSide{{ i.img.width }}">
                    <h2>{{ i.itemName.itemName }}</h2>
                    <p class="pinDes">{{i.itemName.itemdesc_set.all.1.desc}}</p>
                    <ul class="pinInfo">
                        <li class="date">{{ i.itemName.addTime }}</li>
                        <li class="pv">浏览{{ i.itemName.click }}</li>
                        <li class="like">喜欢<span id="count_like_276268754">{{ i.itemName.like }}</span></li>
                    </ul>
                    <div class="tags">
{% for i in item.tag.all|slice:":9" %}
                        <a href="/tag/{{ i.tag }}/" class="tags_{{ tagsClass|random }}">{{ i.tag }}</a>
{% endfor %}
                    </div>
                    <div class="vote">
                        <a class="btnLike" href="/ajax/like/8754/">喜欢</a>
                        <a class="btnReplay" href="/ajax/itemattr/1{{ i.itemName.id }}/">购买(<span>0</span>)</a>
                    </div>
                </div>
            </li>
{% endfor %}
        </ul>
        <div id="showMore" class="showMore">
            <a href="" title="31客" class="fl" ></a>
            <center><a class="btnB bBtn" href="javascript:void(0)" onclick="getPhotoViewMoreClick();return false;">显示更多</a></center>
            <a href="" title="31客" class="fr" ></a>
        </div>
        <div id="container_bottom_recommend" class="list_album_content userVouch" >
            <h3>销售记录</h3>
            <ul class="user list_album_user">
                <li><a href="6577714">
                    <img width="210" height="157" src="/m/b3e571abe1ed4377b78f00ca364c036d_c_300_225.jpg" alt="猫眼圣骑士"></a>
                    <a href="6577714" class="username fl">151****45</a>
                </li>
                <li><a href="baobaoblue">
                    <img width="210" height="157" src="/m/ab22534a077e4162a9f333efcfefb81a_c_300_225.jpg" alt="暴暴蓝"></a>
                    <a href="baobaoblue" class="username fl">189****15</a>
                </li>
                <li><a href="6172271">
                    <img width="210" height="157" src="/m/3021fdfcd24b4dec95f96987ed2042bf_c_300_225.jpg" alt="七色地图"></a>
                    <a href="6172271" class="username fl">151****43</a>
                </li>
                <li><a href="z973079527">
                    <img width="210" height="157" src="/m/efc991b14e2d42249334d0c668d74c50_c_300_225.jpg" alt="市井布衣"></a>
                    <a href="z973079527" class="username fl">151****45</a>
                </li>
                <li><a href="kuyinzi">
                    <img width="210" height="157" src="/m/47edad3089cc48ed81c8d46d1235a425_c_300_225.jpg" alt="库因兹"></a>
                    <a href="kuyinzi" class="username fl">151****45</a>
                </li>
                <li><a href="yshengtai">
                    <img width="210" height="157" src="/m/b3e571abe1ed4377b78f00ca364c036d_c_300_225.jpg" alt="原生泰"></a>
                    <a href="yshengtai" class="username fl">151****45</a>
                </li>
                <li><a href="6576874">
                    <img width="210" height="157" src="/m/efc991b14e2d42249334d0c668d74c50_c_300_225.jpg" alt="笑微微"></a>
                    <a href="6576874" class="username fl">151****45</a>
                </li>
                <li><a href="5274917">
                    <img width="210" height="157" src="/m/efc991b14e2d42249334d0c668d74c50_c_300_225.jpg" alt="陈金成"></a>
                    <a href="5274917" class="username fl">151****45</a>
                </li>
                <li><a href="442438">
                    <img width="210" height="157" src="/m/b3e571abe1ed4377b78f00ca364c036d_c_300_225.jpg" alt="陈思梦"></a>
                    <a href="442438" class="username fl">151****45</a>
                </li>
                <li><a href="5981236">
                    <img width="210" height="157" src="/m/b3e571abe1ed4377b78f00ca364c036d_c_300_225.jpg" alt="慕蓉香"></a>
                    <a href="5981236" class="username fl">151****45</a>
                </li>
                <li><a href="alot">
                    <img width="210" height="157" src="/m/ab22534a077e4162a9f333efcfefb81a_c_300_225.jpg" alt="阿骆"></a>
                    <a href="alot" class="username fl">151****45</a>
                </li>
                <li><a href="lleo">
                    <img width="210" height="157" src="/m/ab22534a077e4162a9f333efcfefb81a_c_300_225.jpg" alt="lLeo"></a>
                    <a href="lleo" class="username fl">151****45</a>
                </li>
                <li><a href="lioncat">
                    <img width="210" height="157" src="/m/44a49025cb684975829f60fb6a90b5d4_c_300_225.jpg" alt="lioncat"></a>
                    <a href="lioncat" class="username fl">151****45</a>
                </li>
                <li><a href="5976915">
                    <img width="210" height="157" src="/m/b4491a3b2ae54081853eccbd4f84ea6f_c_300_225.jpg" alt="laowan"></a>
                    <a href="5976915" class="username fl">151****45</a>
                </li>
                <li><a href="448771">
                    <img width="210" height="157" src="/m/cd90e1a98da04b24809c346f95626b45_c_300_225.jpg" alt="张晨"></a>
                    <a href="448771" class="username fl">151****45</a>
                </li>
                <li><a href="kkkkkkkkkk">
                    <img width="210" height="157" src="/m/b7e864d4df9f48bb899684e598fd0979_c_300_225.jpg" alt="句号姑娘"></a>
                    <a href="kkkkkkkkkk" class="username fl">151****45</a>
                </li>
                <li><a href="6084183">
                    <img width="210" height="157" src="/m/b3e571abe1ed4377b78f00ca364c036d_c_300_225.jpg" alt="猪正"></a>
                    <a href="6084183" class="username fl">151****45</a>
                </li>
                <li><a href="20947407">
                    <img width="210" height="157" src="/m/381645ecc96d4ab492f0a332aa791efa_c_300_225.jpg" alt="飘零忘川"></a>
                    <a href="20947407" class="username fl">151****45</a>
                </li>
                <li><a href="6080235">
                    <img width="210" height="157" src="/m/52b0f31eb5b14accafafa1a4d808f056_c_300_225.jpg" alt="小小"></a>
                    <a href="6080235" class="username fl">151****45</a>
                </li>
                <li><a href="xiaoyoula">
                    <img width="210" height="157" src="/m/efc991b14e2d42249334d0c668d74c50_c_300_225.jpg" alt="小悠拉"></a>
                    <a href="xiaoyoula" class="username fl">151****45</a>
                </li>
            </ul>
        </div>
{% endblock %}