{% extends "shop.base.htm" %}

{% block title %}香浓巧克力{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/shop/tag.configuration.js"></script>
{% endblock %}

{% block content %}
        <p class="viewDown">向下滚动浏览</p>
        <ul class="pinBox">
{% for i in item.itemimg_set.all %}
         <li>
                <img alt="{{ i.itemName.itemName }}" title="{{ i.itemName.itemName }}" src="{{ i.img.url }}" width="{{ i.img.width }}px" />
                <div class="pinSide{{ i.img.width }}">
                    <h2>{{ i.itemName.itemName }}</h2>
                    <p class="pinDes">{{i.itemName.itemdesc_set.all.1.desc}}</p>
                    <ul class="pinInfo">
                        <li class="date">{{ i.itemName.addTime }}</li>
                        <li class="pv">浏览{{ i.itemName.click }}</li>
                        <li class="like">喜欢<span id="count_like_276268754">{{ i.itemName.like }}</span></li>
                    </ul>
                    <div class="tags">
{% for i in item.tag.all|slice:":9" %}
                        <a href="/tag/{{ i.tag }}/" class="tags_{{ tagsClass|random }}">{{ i.tag }}</a>
{% endfor %}
                    </div>
                    <div class="vote">
                        <a class="btnLike" href="/ajax/like/8754/">喜欢</a>
                        <a class="btnReplay" href="/ajax/itemattr/1{{ i.itemName.id }}/">购买(<span>0</span>)</a>
                    </div>
                </div>
            </li>
{% endfor %}
        </ul>
        <div id="showMore" class="showMore">
            <a href="" title="31客" class="fl" ></a>
            <center><a class="btnB bBtn" href="javascript:void(0)" onclick="getPhotoViewMoreClick();return false;">显示更多</a></center>
            <a href="" title="31客" class="fr" ></a>
        </div>
        <div id="container_bottom_recommend" class="list_album_content userVouch" >
            <h3>销售记录</h3>
            <ul class="user list_album_user">
                <li>
                    <a href="6577714">
                        <img width="210" height="157" src="/m/3133002s.jpg" alt="德国烤奶酪" />
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="baobaoblue">
                        <img width="210" height="157" src="/m/3133001s.jpg" alt="香浓巧克力" />
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="6172271">
                        <img width="210" height="157" src="/m/3133003s.jpg" alt="七色地图">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="z973079527">
                        <img width="210" height="157" src="/m/3133004b.jpg" alt="市井布衣">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="kuyinzi">
                        <img width="210" height="157" src="/m/3155002b.jpg" alt="库因兹">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="yshengtai">
                        <img width="210" height="157" src="/m/3177008b.jpg" alt="原生泰">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="6576874">
                        <img width="210" height="157" src="/m/3177012b.jpg" alt="笑微微">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="5274917">
                        <img width="210" height="157" src="/m/3166006b.jpg" alt="陈金成">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="442438">
                        <img width="210" height="157" src="/m/3199002b.jpg" alt="陈思梦">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="5981236">
                        <img width="210" height="157" src="/m/3177004b.jpg" alt="慕蓉香">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="alot">
                        <img width="210" height="157" src="/m/3199004b.jpg" alt="阿骆">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="lleo">
                        <img width="210" height="157" src="/m/3133012s.jpg" alt="lLeo">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133016s.jpg" alt="lioncat">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133013b.jpg" alt="laowan">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133001b.jpg" alt="张晨">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133006s.jpg" alt="句号姑娘">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133022s.jpg" alt="猪正">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133020s.jpg" alt="飘零忘川">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133021b.jpg" alt="小小">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
                <li>
                    <a href="/tag/">
                        <img width="210" height="157" src="/m/3133019b.jpg" alt="小悠拉">
                    </a>
                    <span class="username fl">151****45</span>
                </li>
            </ul>
        </div>
{% endblock %}