{% extends "office.base.htm" %}

{% block urHere %}<a href="/tag/tag/">标签管理</a>{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/office/tag.js"></script>
{% endblock %}

{% block content %}
        <table cellpadding="3" cellspacing="1" width="100%" id="myTable">
            <thead>
              <tr>
                <th width="40px">编号</th>
                <th>标签</th>
                <th>上线</th>
              </tr>
            </thead>
            <tbody>
{% for i in tagList %}
              <tr class="odd">
                <td align="center">{{ i.id }}</td>
                <td><a href="/tag/tag/{{ i.id }}/" title="编辑" class="editItem">{{ i.tag }}</a></td>
                <td align="center" class="onl cp"><img src="{{ STATIC_URL }}images/{% if i.onl %}yes{% else %}no{% endif %}.gif" /></td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ tagList|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}