{% extends "office.base.htm" %}

{% block title %}标签管理{% endblock %}

{% block urHere %}<a href="/tag/admin/">标签管理</a>{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/office/tag.js"></script>
{% endblock %}

{% block content %}
        <div id="search">{% csrf_token %}
          <form action="/tag/admin/" metho="POST">
            <img src="/images/icon_search.gif" border="0" alt="SEARCH" />
            <input type="text" name="k" size="15" value="" />
            <input type="submit" value=" 搜索 " class="button" />
          </form>
        </div>
        <table cellpadding="3" cellspacing="1" width="100%" id="myTable">
            <thead>
              <tr>
                <th>编号</th>
                <th>标签</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
{% for i in tagList %}
              <tr class="odd">
                <td align="center" class="goods_id cp">{{ i.id }}</td>
                <td>{{ i.tag }}</td>
                <td align="center">
                  <a href="/tag/edit/{{ i.id }}/" title="编辑" class="editItem"><img src="/images/icon_edit.gif" /></a>
                  <a href="/tag/del/{{ i.id }}/" title="删除" class="delItem"><img src="/images/icon_trash.gif" /></a>
                </td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ tagList|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}