{% extends "shop.base.htm" %} {% block section %}
<header id="bner">
    <div id="slides" class="slides">
{% for i in ad %}
        <a href="{{ i.url }}"><img src="{{ STATIC_URL }}shop/images/loading.gif" data-src="{{ i.img.url }}"></a>
{% endfor %}
    </div>
</header>


{% endblock %} 

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery.slides.min.js"></script>
{% endblock %} 

{% block javascript %} 
      $('#slides').slidesjs({
        width: 886,
        height: 530,
        play: {
          active: true,
          auto: true,
          interval: 4000,
          swap: true
        }
      });
{% endblock %}
