{% extends "shop.base.htm" %}

{% block title %}{{ title }}{% endblock %}

{% block scrollBox %}
    <div class="scrollBox">
        <div id="fadeFocus" style="display: block;">
            <div class="loading">Loading...<br /></div>
            <ul style="display:none;">
              <li><a href="about.php?aid=22" target="_blank/" title="香浓巧克力"><img src="/m/afficheimg/userday12-31.jpg" width="930" height="240" /></a></li>
              <li><img src="/m/afficheimg/sales.jpg" width="930" height="240" /></li>
              <li><img src="/m/afficheimg/almond.jpg" width="930" height="240" /></li>
            </ul>
        </div>
        <script type="text/javascript" src="/js/scroll.js"></script>
    </div>
{% endblock %}

{% block content %}
    <script src="/js/shop/airbum.timeline.js" type="text/javascript"></script>
    <div class="pinStream clearfix">
{% for line in itemList %}{% for list in line %}
        <div class="{{ list.cssClass }}">
            <a href="/tag/{{ list.itemName }}/" target="_blank/" title="{{ list.itemName }}">
                <img src="{{ list.img }}" alt="{{ list.itemName }}" title="{{ list.itemName }}" />
                <span class="floatInfo">
                    <span class="price">￥ {{ list.amount }}</span>
                    <span class="like_icon">{{ list.like }}</span>
                    <span class="name">{{ list.itemName }}</span>
                </span>
            </a>
        </div>
{% endfor %}{% endfor %}
    </div>
    <div class="sideBar">
        <div class="locListName">
            <h4>其他城市</h4>
            <ul>
                <li><img width="30" height="30" src="/images/004.ico" alt="中国,南宁" title="中国,南宁" /><a href="/nn/">南宁</a></li>
                <li><img width="30" height="30" src="/images/005.ico" alt="中国,长沙" title="中国,长沙" /><a href="/cs/">长沙</a></li>
                <li><img width="30" height="30" src="/images/012.ico" alt="中国,昆明" title="中国,昆明" /><a href="/km/">昆明</a></li>
            </ul>
        </div>
        <div class="tagsList">
          <h4>标签</h4>
          <div class="tagsBox">
              <a href="/tag/慕斯/"class="tags_de13b5">慕斯</a>
              <a href="/tag/奶酪/"class="tags_febe25">奶酪</a>
              <a href="/tag/巧克力/"class="tags_febe25">巧克力</a>
              <a href="/tag/乳酪/"class="tags_f98701">乳酪</a>
              <a href="/tag/曲奇/"class="tags_f98701">曲奇</a>
              <a href="/tag/松露/"class="tags_a7cf50">松露</a>
              <a href="/tag/原味/"class="tags_de13b5">原味</a>
              <a href="/tag/芒果/"class="tags_f98701">芒果</a>
              <a href="/tag/派/"class="tags_ba0101">派</a>
              <a href="/tag/芝士/"class="tags_8a60ba">芝士</a>
          </div>
        </div>
        <div class="buyList">
            <h4>最近购买过的人</h4>
            <ul>
                <li><a href="/tag/evanescence/"><img width="32" height="32" src="/images/s_50.png" alt="再见北方" title="再见北方" /></a></li>
                <li>
                    <a href="/tag/17352869/"><img width="32" height="32" src="/images/s_50.png" alt="蛮老碗" title="蛮老碗" /></a>
                </li>
                <li>
                    <a href="/tag/zhangyaoxi/"><img width="32" height="32" src="/images/s_50.png" alt="张耀兮" title="张耀兮" /></a>
                </li>
                <li>
                    <a href="/tag/google/"><img width="32" height="32" src="/m/65d14999dd9441f48f5a31cc91ae2023_s_50.jpg" alt="心干情怨" title="心干情怨" /></a>
                </li>
                <li>
                    <a href="/tag/20863238/"><img width="32" height="32" src="/images/s_50.png" alt="英俊中年" title="英俊中年" /></a>
                </li>
                <li>
                    <a href="/tag/kkkkkkkkkk/"><img width="32" height="32" src="/m/bae1c4be7f314052ba44c958fadf27d3_s_50.jpg" alt="句号姑娘" title="句号姑娘" /></a>
                </li>
                <li>
                    <a href="/tag/20791081/"><img width="32" height="32" src="/images/s_50.png" alt="江国藩" title="江国藩" /></a>
                </li>
                <li>
                    <a href="/tag/ers45678911"><img width="32" height="32" src="/m/e46802f9826f4c45bca3d1a0eceeb11e_s_50.jpg" alt="提亚碧玺工厂那些美丽石头" title="提亚碧玺工厂那些美丽石头" /></a>
                </li>
                <li>
                    <a href="/tag/yonglovelin/"><img width="32" height="32" src="/m/894c969f2703451899e7874a86864ee3_s_50.jpg" alt="小绿女孩" title="小绿女孩" /></a>
                </li>
                <li>
                    <a href="/tag/Joseph/"><img width="32" height="32" src="/m/ebaa41a38e5c48afb5b1c297ecc1fa8d_s_50.jpg" alt="joseph" title="joseph" /></a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}