{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
        <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>名称</th>
            <th>规格</th>
            <th>数量</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% for i,v in oList.items %}
{% for ii,vv in v.items %}
{% for iii,vvv in vv.items %}
          <tr class="tr_border_top_black">
            <td colspan="10">{{ i }} | {{ ii }} | {{ iii }}</td>
          </tr>
{% for iiii in vvv %}
          <tr>
            <td colspan="4"><a href="{{ request.paths.订单 }}{{ iiii.sn }}/">{{ iiii.sn }}</a></td>
            <td></td>
          </tr>
{% for item in iiii.items %}
          <tr align="center">
            <td align="right" nowrap="true">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.number }}</td>
            <td>未产</td>
            <td>
{% for itemI, itemV in item.action.items %}
{% for itemII,itemVV in itemV %}
           <a href="{{ itemI }}{{ itemII }}/?sn={{ iiii.sn }}" class="button">{{ itemVV }}</a>
{% endfor %}
{% endfor %}
            </td>
          </tr>
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
        </table>
{% endblock %}