{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
        <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>名称</th>
            <th>规格</th>
            <th>数量</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% for i,v in oList.items %}
{% for ii,vv in v.items %}
{% for iii,vvv in vv.items %}
          <tr class="tr_border_top_black">
            <td colspan="10">{{ i }} | {{ ii }} | {{ iii }}</td>
          </tr>
{% for iiii in vvv %}
          <tr>
            <td colspan="10"><a href="{% url 'order:viewOrd' iiii.sn %}">{{ iiii.sn }}</a></td>
          </tr>
{% for item in iiii.items %}
          <tr align="center">
            <td align="right" nowrap="true">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.num }}</td>
            <td>{{ item.get_status_display }}</td>
            {% optr item %}
          </tr>
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
{% endfor %}
        </table>
{% endblock %}