{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
        <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>名称</th>
            <th>规格</th>
            <th>时间</th>
            <th>数量</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
          <tr align="center" class="tr_border_top_black">
            <td>德国烤奶酪</td>
            <td>1.5磅：约18×18(cm)</td>
            <td>&nbsp;</td>
            <td style="color:red">6</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr align="center">
            <td colspan="2"><a href="/production/?keyword=2013702504722">2013702504722</a> </td>
            <td>18:00 | - 30 m</td>
            <td>1</td>
            <td>产中</td>
            <td>
              <a href="/production/" class="button">完成</a>
              <a href="/production/" class="button">停产</a>
            </td>
          </tr>
          <tr align="center">
            <td colspan="2"><a href="/production/?keyword=2013702504722">2013702504722</a> </td>
            <td>18:00 | 0 m</td>
            <td>1</td>
            <td>产中</td>
            <td>
              <a href="/production/" class="button">完成</a>
              <a href="/production/" class="button">停产</a>
            </td>
          </tr>
          <tr align="center">
            <td colspan="2"><a href="/production/?keyword=2013702504722">2013702504722</a> </td>
            <td>18:00 | + 30 m</td>
            <td>1</td>
            <td>产中</td>
            <td>
              <a href="/production/" class="button">完成</a>
              <a href="/production/" class="button">停产</a>
            </td>
          </tr>
          <tr align="center">
            <td colspan="2"><a href="/production/?keyword=2013702504722">2013702504722</a> </td>
            <td>18:00 | + 30 m</td>
            <td>1</td>
            <td>产中</td>
            <td>
              <a href="/production/" class="button">完成</a>
              <a href="/production/" class="button">停产</a>
            </td>
          </tr>
      </table>
{% endblock %}