{% extends "office.base.htm" %}

{% block content %}
{% include 'search.htm' %}
{% load tags %}
        <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>名称</th>
            <th>规格</th>
            <th>数量</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% regroup oList by logcs.date as newsList %}
{% for i in newsList %}
{% regroup i.list by logcs.advTime as newLstime %}

  {% for ii in newLstime %}
          <tr class="tr_border_top_rare">
            <td colspan="10">{{ i.grouper|date:"Y-m-d"  }} | {{ ii.grouper|time:"H:i" }} | <span class="wow_item_8">{{ ii.list|length }}</span></td>
          </tr>
    {% for ord in ii.list %}
            <tr class="tr_border_top_black">
                <td colspan="10"><a href="{% url 'order:viewOrd' ord.sn %}">{{ ord.sn }}</a> | {{ ord.logcs.lstime }} | {{ ord.logcs.get_advance_display }}</td>
            </tr>
        {% for item in ord.items %}
            <tr align="center">
              <td align="right" nowrap="true">{{ item.name }} [ {{ item.id }} ]</td>
              <td>{{ item.spec }}</td>
              <td>{{ item.num }}</td>
              {% proStatus item %}
              {% oprt item %}
            </tr>
        {% endfor %}
    {% endfor %}
  {% endfor %}
{% empty %}
          <tr>
            <td align="center" colspan="10">无记录</td>
          </tr>
{% endfor %}
          <tr>
            <td colspan="20" align="right">共 {{ oList|length }} 条记录</td>
          </tr>
        </table>
{% endblock %}