{% extends "office.base.htm" %}

{% block content %}
{% load tags %}
      <div class="search" nowrap="true" colspan="3">
          <form action="{{ request.path }}" method="get">
{% for i in form %}
              {{ i }}
{% endfor %}
            <input type="submit" value=" 搜索 " class="button" />
          </form>
      </div>
      <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>厂房</th>
            <th>名称</th>
            <th>规格</th>
            <th>预 | 库 | 总</th>
            <th>数量</th>
            <th>操作</th>
          </tr>
{% regroup invnum by pro.build.get_name_display as build %}
{% for b in build %}
          <tr align="center" class="tr_border_top_rare">
            <td>{{ b.grouper }}</td>
            <td colspan="5">&nbsp;</td>
          </tr>
{% regroup b.list by pro.spec.item.name as list %}
{% for i in list %}
          <tr align="center" class="tr_border_top_black">
            <td>&nbsp;</td>
            <td>{{ i.grouper }}</td>
            <td>&nbsp;</td>
            <td><span class="wow_item_1">0</span> | <span class="wow_item_8">0</span> | <span class="wow_item_0">0</span></td>
            <td colspan="2">&nbsp;</td>
          </tr>
{% for ii in i.list %}
          <tr align="center">
            <td colspan="2">&nbsp;</td>
            <td>{{ ii.pro.spec.spec.value }}</td>
            <td><span class="wow_item_1 y{{ ii.id }}">{{ ii.adv|default:0 }}</span> | <span class="wow_item_8 s{{ ii.id }}">{{ ii.num|default:0 }}</span> | <span class="wow_item_0 c{{ ii.id }}">{{ ii.count|default:0 }}</span></td>
            <td><input ytpe="text" name="n17335" value="1" size="1" /></td>
            <td nowrap="nowrap" align="center">

{% for a in ii.action %}
            <a href="{% url a.2 ii.id 1 %}" class="button act">{{ a.1 }}</a>
{% endfor %}
            </td>
          </tr>
{% endfor %}

{% endfor %}

{% endfor %}

          <tr>
            <td align="center"><a href="{% url 'inventory:defaultInv' form.initial.s %}" class="button">备货格式化</a></td>
            <td colspan="5">&nbsp;</td>
          </tr>
      </table>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}inventory/js/inv.configuration.js"></script>
{% endblock %}