{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
          <tr>
            <th>类型</th>
            <th>订单编号</th>
            <th>联系人</th>
            <th>应收 | 找补 | 实收 | 付款方式</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% for i in oList %}
          <tr align="center" class="tr_border_top_black">
            <td>{{ i.get_typ_display }}</td>
            <td><a href="{{ request.pPath.订单 }}{{ i.sn }}/">{{ i.sn }}</a></td>
            <td>{{ i.logcs.consignee }} [ {{ i.logcs.tel }} ]</td>
            <td>200.00 | 11.00 | 189.00 | {{ i.fnc.name }}</td>
            <td>{{ i.get_status_display }} | {{ i.fnc.get_status_display }} | {{ i.logcs.get_status_display }}</td>
            {% optr i %}
          </tr>
{% for item in i.orditem_set.all %}
          <tr align="center">
            <td align="right" nowrap="true">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.num }}</td>
            <td>{{ item.fee }}</td>
            <td>{{ item.get_dis_display }}</td>
            <td>{{ item.nfee }}</td>
          </tr>
{% endfor %}
          <tr>
            <td align="center">地址</td>
            <td colspan="5"><a href="{{ request.pPath.地图 }}?k={{ i.logcs.address }}" target="_blank">{{ i.logcs.address }}</a></td>
          </tr>
          <tr align="center">
            <td>时间</td>
            <td align="left">{{ i.logcs.date|date:"Y-m-d" }} | {{ i.logcs.stime|time:"H:i" }} - {{ i.logcs.etime|time:"H:i" }}</td>
            <td>预发货</td>
            <td>{{ i.logcs.lstime|time:"H:i" }}</td>
            <td>{{ i.logcs.get_advance_display }}</td>
            <td>{{ i.logcs.dman.first_name }}{{ i.logcs.dman.last_name }}</td>
          </tr>             
          <tr>
            <td align="center">备注</td>
            <td colspan="6">速度送</td>
          </tr>
{% endfor %}
          {% include 'page.htm' %}
      </table>
{% endblock %}