{% extends "shop.base.htm" %}


{% block content %}
        <div class="pWhite">
        <form action="/cart/submit/" method="post" name="to_checkout" id="toCheckout">
             <h3>订单状态</h3>
            <table width="100%" class="mBottom10">
                <tr>
                    <td width="100px">付款方式：</td>
                    <td><strong>{{ pay.name }}</strong></td>
                </tr>
                <tr>
                    <td>配送方式：</td>
                    <td><strong>送货上门</strong></td>
                </tr>
            </table>
            <h3>商品列表</h3>
            <table width="100%" class="mBottom10">
                <tr>
                    <th>商品名称</th>
                    <th>规格</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
{% if cart.items %}
{% for i in cart.items %}
                <tr align="center">
                    <td>{{ i.item.name }}</td>
                    <td>{{ i.spec.spec.value }}</td>
                    <td>￥{{ i.fee|floatformat:2 }} 元</td>
                    <td>{{ i.num }}</td>
                    <td>￥<span class="st{{ i.v }}">{{ i.total|floatformat:2 }}</span> 元</td>
                </tr>
{% endfor %}
{% else %}
                <tr align="center">
                    <td colspan="6">无</td>
                </tr>
{% endif %}
                <tr class="bLine">
                    <td align="right" colspan="5"><span class="fBold font18">商品总价: ￥<span class="total">{{ cart.total|floatformat:2 }}</span> 元</span></td>
                    <td></td>
                </tr>
            </table>
            <h3>赠送</h3>
            <table width="100%" class="mBottom10">
                <tr>
                    <th>商品名称</th>
                    <th>规格</th>
                    <th>价格</th>
                    <th>数量</th>
                    <th>小计</th>
                </tr>
                <tr align="center">
                    <td colspan="6">无</td>
                </tr>
                <tr class="bLine">
                    <td colspan="5" align="right"><span class="fBold font18">总计: ￥0.00 元</span></td>
                    <td></td>
                </tr>
            </table>
            <h3>收货人信息&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/consignee/" class="btnB sBtn">修改</a></h3>
            <table width="100%" class="mBottom10">
                <tr>
                    <td width="100px">收货人姓名：</td>
                    <td>{{ request.session.c.consignee }}</td>
                </tr>
                <tr>
                    <td>详细地址：</td>
                    <td>[ {{ area.sub.name }} - {{ area.name }} ]&nbsp;&nbsp;{{ request.session.c.address }}</td>
                </tr>
                <tr>
                    <td>电话：</td>
                    <td>{{ request.session.c.tel }}</td>
                </tr>
                <tr>
                    <td>最佳收货时间：</td>
                    <td>{{ request.session.c.date }}&nbsp;&nbsp;{{ time.start|time:"H:i" }} - {{ time.end|time:"H:i" }}</td>
                </tr>
                <tr>
                    <td>备注：</td>
                    <td>{{ request.session.c.note }}</td>
                </tr>
            </table>
            <center>
                {% csrf_token %}
                <input type="submit" class="btnB bBtn" value="确认订单" />
            </center>
      </form>
        </div>
{% endblock %}