{% extends "shop.base.htm" %}

{% block title %}收货人信息{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/shop/consignee.configuration.js"></script>
{% endblock %}

{% block content %}
        <div class="pWhite">
            <div class="mBottom50">
                <h3>收货人信息</h3>
                <p>（请填写详细收货地址及准确的最佳送货时间，以便更快捷将您订购的蛋糕送达！）</p>
                <form action="/checkout/" method="post" name="checkout" id="checkout">
                    <table width="100%">
                        <tr>
                            <td align="right">支付方式:</td>
                            <td>
                                <select name="pay" class="pay">
{% for i in pay %}
                                    <option value="{{ i.id }}"{% ifequal i.id|floatformat request.session.c.pay %} selected{% endifequal %}>{{ i.name }}</option>
{% endfor %}
                                </select>
                                (必填)
                            </td>
                        </tr>
                        <tr>
                            <td align="right">配送方式:</td>
                            <td>
                                <select name="ship" class="ship">
                                    <option value="1">送货上门</option>
                                </select>
                                (必填)
                            </td>
                        </tr>
                        <tr>
                            <td align="right">收货人姓名:</td>
                            <td><input name="consignee" type="text" value="{{ request.user.userinfo.consignee|default:request.session.c.consignee }}" class="consignee" /> (必填)</td>
                        </tr>
                        <tr>
                            <td align="right">配送区域:</td>
                            <td>
                                <select name="city" class="city">
                                    <option value="0">请选择城市</option>
                                    <option value="1">南宁</option>
                                </select>
                                <select name="block" class="block">
                                    <option value="0">请选择区域</option>
                                    <option value="2">邕宁区</option>
                                    <option value="3">青秀区</option>
                                    <option value="4">兴宁区</option>
                                    <option value="5">良庆区</option>
                                    <option value="6">西乡塘区</option>
                                    <option value="7">江南区</option>
                                </select>
                                (必填)
                            </td>
                        </tr>
                        <tr>
                            <td align="right">详细地址:</td>
                            <td width="90%"><input name="address" type="text" value="{{ request.user.userinfo.address|default:request.session.c.address }}" size="70" class="address" /> (必填)</td>
                        </tr>
                        <tr>
                            <td align="right">联系电话:</td>
                            <td><input name="tel" type="text" value="{{ request.user.userinfo.tel|default:request.session.c.tel }}" size="40" class="tel" /> (必填)  ( 请填写多个号码，并用空格隔开。如：134XXXXXXXX 0771XXXXXXX )</td>
                        </tr>
                        <tr>
                            <td align="right">最佳收货时间:</td>
                            <td>
                                <input name="date" type="text" value="{% if request.session.date %}{{ request.session.date|date:"Y-m-d" }}{% else %}{% now "Y-m-d" %}{% endif %}" class="date" />
                                <select name="time" class="time">
                                    <option value="10:00 ~ 11:00" >10:00 ~ 11:00</option>
                                    <option value="11:00 ~ 12:00" >11:00 ~ 12:00</option>
                                    <option value="12:00 ~ 13:00" >12:00 ~ 13:00</option>
                                    <option value="13:00 ~ 14:00" >13:00 ~ 14:00</option>
                                    <option value="14:00 ~ 15:00" >14:00 ~ 15:00</option>
                                    <option value="15:00 ~ 16:00" >15:00 ~ 16:00</option>
                                    <option value="16:00 ~ 17:00" >16:00 ~ 17:00</option>
                                    <option value="17:00 ~ 18:00" >17:00 ~ 18:00</option>
                                    <option value="18:00 ~ 19:00" >18:00 ~ 19:00</option>
                                    <option value="19:00 ~ 20:00" >19:00 ~ 20:00</option>
                                </select>
                                (必填)
                            </td>
                        </tr>
                        <tr>
                            <td align="right" valign="top">备注:</td>
                            <td width="90%"><textarea name="note" cols="100" rows="4" class="note">{{ request.user.userinfo.note|default:request.session.c.note }}</textarea></td>
                        </tr>
                    </table>
                    <center>
                        <input type="submit" name="submit" value="确认" class="btnB bBtn" />
                    </center>
                </form>
            </div>
        </div>
{% endblock %}