* {
    margin: 0;
    padding: 0;
}
::selection {
    background: #ff5f3e;
    color: #fff
}
a {
    color: #4b3c37;
    white-space: nowrap;
    text-decoration: none;
    display: inline-block;
    border-bottom: thick solid #FFF;
    &:hover, &.on {
        border-bottom: thick solid #5B2900;
    }
}
p {
    line-height: 1.5;
}
ul, ol, dl, menu {
    list-style: none;
}
img {
    border: none;
    vertical-align:text-bottom;
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
table tr td {
    padding: 3px;
    line-height: 2;
    white-space: nowrap;
}
input[type=text], input[type=password], textarea {
    height: 22px;
    padding: 3px 6px;
    border: 1px solid #CDCDCD;
    border-radius: 2px;
    background: #FFF;
}
textarea {
    height: 5em;
    padding: 3px;
    font-size: 0.75em;
    line-height: 1.4
}
input:focus, textarea:focus {
    box-shadow: 0 0 0 0.1em #FFFFFF inset;
}
.input {
    border: 0.1em solid #cc9866;
    padding: 0.1875em;
}
.sbtn {
    height: 1em;
    line-height:1.5;
    padding: 0 1.5em;
    font-size: 0.5em;
}
.btn {
    line-height: 2;
    padding: 0.125em 2em;
    font-size: 0.75em;
}
.bbtn {
    height: 2em;
    line-height: 2.5;
    padding: 0 3em;
    font-size: 1em;
}
.bbbtn {
    width: 100%;
    height: 3em;
    line-height: 3.5em;
    font-size: 1.25em;
}
.btnbr {
    background-color: #5b2900;
    border: 1px solid transparent;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    &:focus {
    }
    &:hover {
        color: #cf9764;
        border: 1px solid transparent;
    }
    &:active {
        box-shadow: 0 0 0 1px #FFFFFF inset;
    }
}
.btn_disable, .bbtn_disable, .bbbtn_disable {
    background-color: #cf9764;
    border: 1px solid #cf9764;
    opacity: 0.5;
    color: #FFFFFF;
    display: inline-block;
}
.fl {
    float: left;
}
.bline {
    border: solid #E5E5E5;
    border-width: 0 0 1px 0;
}
.mtb2 {
    margin: 2em 0;
}
.mb2 {
    margin-bottom: 2em;
}
.font15 {
    font-size: 1.5em;
}
html {
    width: 100%;
    min-height: 100%;
    /*cursor: url("/static/images/cursor.ico"), auto*/
}
body {
    color: #4b3c37;
    background: #FFF;
    @media screen and (max-width: 479px) {
        margin: 0.625em;
        #mh {
            menu {
                width: 100%;
                padding-bottom: 0.5em;
            }
            aside {
                width: 100%;
                float: left;
            }
        }
    }
    @media screen and (min-width: 480px) and (max-width: 909px) {
        margin: 0.625em;
        #mh {
            aside {
                float: right;
                margin: 4.3em 1em 0 0;
                clear: right;
            }
        }
    }
    @media screen and (min-width: 910px) {
        width: 55.375em;
        margin: 0.625em auto;
        #mh {
            aside {
                float: right;
                margin: 4.3em 1em 0 0;
                clear: right;
            }
        }
    }
    .messagelist {
        padding-bottom: 1em;
        li {
            font-size: 0.75em;
            padding: 0.25em 0.25em 0.25em 2em;
            margin-bottom: 0.25em;
            background: url(/static/images/icon_success.gif) 5px .3em no-repeat;
            border-bottom: 0.1em solid #E5E5E5;
            &.warning {
                background-image: url(/static/images/icon_alert.gif);
            }
            &.error {
                background-image: url(/static/images/icon_error.gif);
            }
        }
    }
    #mh {
        width: 100%;
        display: inline-block;
        menu {
            float: right;
            li {
                float: left;
                margin: 0 0.4em;
            }
        }
        a {
            font-size: 0.75em;
            &#logo {
                float: left;
                border: none;
            }
        }
        aside {
            small {
                position: relative;
                top: 1.2em;
                left: 11.2em;
            }
            em {
                display: block;
                font-size: 2em;
                font-family:'constantia';
                font-weight: bold;
                white-space: nowrap;
            }
        }
    }
    #mn {
        width: 100%;
        display: inline-block;
        background: url(/static/shop/images/menu.jpg) bottom repeat-x;
        margin: 0.5em 0 1em 0;
        a {
            font-size:0.75em;
            float: left;
            background: url(/static/shop/images/menu_no.jpg) no-repeat;
            color: #cf9764;
            height: 2.5em;
            padding-left: 2em;
            padding-right: 2/3em;
            line-height: 1.8;
            border: none;
            &:hover {
                border: none !important;
                background: url(/static/shop/images/menu_on.jpg) no-repeat;
            }
        }
        @media screen and (min-width: 319px) and (max-width: 479px) {
            a {
                width: 10%;
            }
        }
        @media screen and (min-width: 480px) and (max-width: 909px) {
            a {
                width: 3.5em;
            }
        }
        @media screen and (min-width: 910px) {
            a {
                width: 5.5em;
            }
        }
    }
    #mf {
        width: 100%;
        display: inline-block;
        address {
            float: left;
            font-weight: bold;
            a {
                font-size: 1em;
            }
        }
        em {
            float: right;
            li {
                margin-left: 1em;
                float: left;
                a {
                    float: left;
                    padding-bottom: 0.125em;
                    margin-bottom: 0.3125em;
                }
                .dico {
                    display: none;
                    position: relative;
                    float: left;
                    z-index: 999;
                    text-align:left;
                    .ico {
                        position: absolute;
                        z-index: 54;
                        border: 0.1em solid #cc9866;
                        border-radius: 0.25em;
                        background: #FFF;
                        font-size: 1.5em;
                        padding: 0.5em;
                        top: -7.5em;
                    }
                    .ico_2wm {
                        position:absolute;
                        width:0.625em;
                        height:0.625em;
                        background:url(/static/images/ico_2wm.png) no-repeat 0 0;
                        z-index:55;
                        bottom: -0.6em;
                    }
                }
                .tel {
                    .ico {
                        width: 16.5em;
                        left: -9em;
                    }
                    .ico_2wm {
                        left: 7.5em;
                    }
                }
                .qq {
                    .ico {
                        width: 6.5em;
                        left: -5em;
                    }
                    .ico_2wm {
                        left: 3.5em;
                    }
                }
            }
        }
    }
    #ms {
        width: 100%;
        display: inline-block;
        min-height: 2em;
        padding-bottom: 2em;
        p {
            /*text-indent: 1.5em;*/
            padding-bottom: 0.25em;
        }
        ol#pinBox {
            width: 100%;
            float: left;
            .item {
                width: 100%;
                float: left;
                margin-bottom: 1em;
                @media screen and (max-width: 629px) {
                    .styp {
                        width: 100%;
                        margin-bottom: 0.375em;
                    }
                    .side {
                        width: auto;
                    }
                }
                @media screen and (min-width: 630px) and (max-width: 819px) {
                    .styp {
                        width: 37.5em;
                        margin-bottom: 0.375em;
                        margin-left: auto;
                        margin-right: auto;
                    }
                    .side {
                        width: 36.375em;
                        margin-left: auto;
                        margin-right: auto;
                        float: none;
                    }
                }
                @media screen and (min-width: 820px) and (max-width: 985px) {
                    .styp {
                        float: left;
                        width: 37.5em;
                    }
                    .side {
                        float: right;
                        width: 21%;
                    }
                }
                @media screen and (min-width: 886px) and (max-width: 909px) {
                    .styp {
                        float: left;
                        width: 37.5em;
                    }
                    .side {
                        float: right;
                        width: 27%;
                    }
                }
                @media screen and (min-width: 910px) {
                    .styp {
                        float: left;
                        width: 37.5em;
                    }
                    .side {
                        float: right;
                        width: 29.5%;
                    }
                }
                .styp {
                    height: 28.125em;
                    overflow: hidden;
                }
                .side {
                    background: #FFFFFF;
                    padding: 0.5em;
                    border-radius: 0.25em;
                    border: 0.1em solid #cc9866;
                    h2 {
                        padding-bottom: 0.25em;
                        a {
                            font-size: 1em;
                            color: #cf9764;
                        }
                    }
                    p {
                        font-size: 0.75em;
                        width: 100%;
                        color: #999;
                        text-indent: 1.5em;
                    }
                    .pinInfo {
                        color: #999;
                        width: 100%;
                        padding: 0.5em 0;
                        div {
                            font-size: 0.75em;
                            background: url(/static/images/photoDes.png) no-repeat;
                            padding-left: 2em;
                            margin-left: 0.5em;
                            line-height: 1.5;
                        }
                        .sales {
                            background-position: 0 -113px;
                        }
                        .like {
                            background-position: 0 -142px
                        }
                    }
                    nav {
                        width: 100%;
                        text-decoration: none;
                        a {
                            font-size: 0.75em;
                            margin: 0 0.25em;
                        }
                    }
                    .button {
                        width: 100%;
                        margin-top: 0.5em;
                        a {
                            margin: 0.5em;
                        }
                    }
                }
            }
        }
        #bner {
            width: 100%;
            height: 530px;
            overflow: hidden;
            float: left;
        }
        menu {
            width: 15%;
            font-size: 0.75em;
            padding-bottom: 1em;
            li {
                padding-left: 0.5em;
                a {
                    padding: 0.5em;
                }
            }
            @media screen and (max-width: 629px) {
                width:100%;
            }
            @media screen and (min-width: 630px) {
                float: left;
            }
        }
        section, article {
            @media screen and (max-width: 479px) {
                font-size: 2.5em;
                p {
                    width: auto;
                    img {
                        width: 100%;
                    }
                }
                form {
                    font-size: 0.75em;
                }
            }
            @media screen and (min-width: 480px) and (max-width: 909px) {
                font-size: 2em;
                p {
                    width: auto;
                    img {
                        width: 100%;
                    }
                }
                form {
                    font-size: 0.75em;
                }
            }
            @media screen and (min-width: 910px) {
                form {
                    font-size: 0.75em;
                    float: left;
                    padding-left: 10em;
                }
            }
            h1, h2, h3, h4, h5, h6 {
                line-height: 2em;
            }
            p {
                font-size: 0.75em;
                text-indent: 2em;
            }
            ol {
                font-size: 0.75em;
                list-style-type: decimal;
                padding-left: 4em;
            }
        }
        article {
            @media screen and (min-width: 910px) {
                width: 85%;
                float: right;
            }
        }
    }
}
