{% extends "office.base.htm" %}

{% block title %}商品管理{% endblock %}

{% block urHere %}<a href="/item/admin/">商品管理</a>{% endblock %}

{% block js %}
    <script type="text/javascript" src="/js/office/item.js"></script>
{% endblock %}

{% block content %}
        <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
            <thead>
              <tr>
                <th>编号</th>
                <th>商品名称</th>
                <th>货号</th>
                <th>上线</th>
                <th>前台是否显示</th>
              </tr>
            </thead>
            <tbody>
{% for i in itemList %}
              <tr align="center">
                <td class="cp">{{ i.id }}</td>
                <td><a href="/item/edit/{{ i.id }}/" title="编辑" class="editItem">{{ i.itemName }}</a></td>
                <td>{{ i.sn }}</td>
                <td class="onl cp"><img src="{{ STATIC_URL }}images/{% if i.onl %}yes{% else %}no{% endif %}.gif" /></td>
                <td class="show cp"><img src="{{ STATIC_URL }}images/{% if i.show %}yes{% else %}no{% endif %}.gif" /></td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ itemList|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}