{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% regroup oList by logcs.date as newsList %}
        <table cellpadding="3" cellspacing="1" width="100%">
          <tr>
            <th>订单编号</th>
            <th>地址</th>
            <th>物流师傅</th>
            <th>状态</th>
          </tr>
{% for i in newsList %}
{% regroup i.list by logcs.ltime as newStime %}

  {% for ii in newStime %}
          <tr class="tr_border_top_black">
            <td colspan="10">{{ i.grouper|date:"Y-m-d"  }} | {{ ii.grouper }} | <span class="wow_item_8">{{ ii.list|length }}</span></td>
          </tr>
      {% for iii in ii.list %}
                <tr align="center">
                  <td width="80px"><a href="{% url 'order:viewOrd' iii.sn %}">{{ iii.sn }}</a></td>
                  <td align="left"><a href="{% url 'logistics:baiduMap' iii.logcs.address|urlencode %}" target="_blank">[ {{ iii.logcs.area }} ] {{ iii.logcs.address }}</a></td>
                  <td width="220px">{% if iii.form %}{{ iii.form.dman }}{% else %}{{ iii.logcs.dman.last_name }}{{ iii.logcs.dman.first_name }}{% endif %}</td>
                  <td>{{ iii.get_status_display }} | {{ iii.fnc.get_status_display }} | {{ iii.logcs.get_status_display }}</td>
                </tr>
        {% for item in iii.items %}
                <tr align="center">
                  <td align="right" nowrap="true" colspan="2">{{ item.name }} {{ item.spec }} [ {{ item.num }} ]</td>
                  <td>&nbsp;</td>
                  <td>{{ item.get_status_display }}</td>
                </tr>
        {% endfor %}
    {% endfor %}
  {% endfor %}
{% empty %}
          <tr>
            <td align="center" colspan="10">无记录</td>
          </tr>
{% endfor %}
          <tr>
            <td colspan="20" align="right">共 {{ oList|length }} 条记录</td>
          </tr>
        </table>
{% endblock %}