{% extends "office.base.htm" %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}logistics/js/consignee.configuration.js"></script>
{% endblock %}

{% block content %}
        <form action="{% url 'logistics:logcsSub' %}" method="POST" id="checkout">
        <h3>收货人信息</h3>
            <table width="100%" cellpadding="3" cellspacing="1" id="logcs">
              <tr>
                  <td width="100px" align="right">{{ logcs.dlvr.label }}：</td>
                  <td width="90%">{{ logcs.dlvr }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.consignee.label }}：</td>
                  <td>{{ logcs.consignee }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.area.label }}：</td>
                  <td>{{ logcs.area }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.address.label }}：</td>
                  <td>{{ logcs.address }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.tel.label }}：</td>
                  <td>{{ logcs.tel }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.date.label }}：</td>
                  <td>{{ logcs.date }}</td>
              </tr>
              <tr>
                  <td align="right">{{ logcs.time.label }}：</td>
                  <td>{{ logcs.time }}</td>
              </tr>
              <tr>
                  <td align="right" valign="top">{{ logcs.note.label }}：</td>
                  <td>{{ logcs.note }}</td>
              </tr>
                <tr>
                    <td></td>
                    <td id="sbutton">
                    </td>
                </tr>
        </table>
        <center>
            {% csrf_token %}
            <input type="submit" name="submit" value="提交订单" class="button" />
        </center>
    </form>
{% endblock %}