{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
          <tr>
            <th>类型</th>
            <th width="160px">订单编号</th>
            <th>联系人</th>
            <th>应收 | 找补 | 实收 | 付款方式</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% regroup oList by logcs.date as newsList %}
{% for i in newsList %}
  {% regroup i.list by logcs.ltime as newStime %}
  {% for ii in newStime %}
          <tr class="tr_border_top_rare">
            <td colspan="10">{{ i.grouper|date:"Y-m-d"  }} | {{ ii.grouper }} | <span class="wow_item_8">{{ ii.list|length }}</span></td>
          </tr>
    {% for iii in ii.list %}
          <tr align="center" class="tr_border_top_black">
            <td>{{ iii.get_typ_display }}</td>
            <td><a href="{% url 'order:viewOrd' iii.sn %}">{{ iii.sn }}</a></td>
            <td>{{ iii.logcs.consignee }} [ {{ iii.logcs.tel }} ]</td>
            <td>{{ iii.fee.paid|stringformat:"0.2f" }} | {{ iii.fee.kpchng|stringformat:"0.2f" }} | {{ iii.fee.total|stringformat:"0.2f" }} | {{ iii.fnc.cod.get_cod_display }}</td>
            {% status iii %}
            {% oprt iii %}
          </tr>
        {% if iii.items %}
          {% for item in iii.items %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.num }}</td>
            {% proStatus item %}
            {% oprt item %}
          </tr>
          {% endfor %}
        {% else %}
          {% for item in iii.pro_set.all %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.num }}</td>
            <td><span class="status_{{ item.status }}">{{ item.get_status_display }}</span></td>
            <td>&nbsp;</td>
          </tr>
          {% endfor %}
        {% endif %}
          <tr align="center">
            <td>地址</td>
            <td colspan="4" align="left"><a href="{% url 'logistics:baiduMap' %}?address={{ iii.logcs.address|urlencode }}" target="_blank">[ {{ iii.logcs.area }} ] {{ iii.logcs.address }}</a></td>
            <td><a href="{% url 'print:pAct' iii.sn %}" target="_blank" class="button">打印</a></td>
          </tr>
          <tr align="center">
            <td>时间</td>
            <td align="left">{{ iii.logcs.date|date:"Y-m-d" }} | {{ iii.logcs.stime|time:"H:i" }} - {{ iii.logcs.etime|time:"H:i" }}</td>
            <td>预发货</td>
            <td>{{ iii.logcs.lstime|time:"H:i" }}</td>
            <td>{% if iii.form %}{{ iii.form.advance }}{% else %}{{ iii.logcs.get_advance_display }}{% endif %}</td>
            <td>{% if iii.form %}{{ iii.form.dman }}{% else %}{{ iii.logcs.dman.last_name }}{{ iii.logcs.dman.first_name }}{% endif %}</td>
          </tr>
          <tr>
            <td align="center">备注</td>
              <td colspan="6">{{ iii.logcs.note }}</td>
          </tr>
    {% endfor %}
  {% endfor %}

{% empty %}
          <tr>
            <td align="center" colspan="10">无记录</td>
          </tr>
{% endfor %}
          {% include 'page.htm' %}
      </table>
{% endblock %}

{% block js %}
      <script type="text/javascript" src="{{ STATIC_URL }}logistics/js/logistics.configuration.js"></script>
{% endblock %}