{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
          <tr>
            <th>类型</th>
            <th>订单编号</th>
            <th>联系人</th>
            <th>应收 | 找补 | 实收 | 付款方式</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% for i in oList %}
          <tr align="center" class="tr_border_top_black">
            <td>{{ i.get_typ_display }}</td>
            <td><a href="{{ request.paths.订单 }}{{ i.sn }}/">{{ i.sn }}</a></td>
            <td>{{ i.ordlogcs.consignee }} [ {{ i.ordlogcs.tel }} ]</td>
            <td>200.00 | 11.00 | 189.00 | {{ i.ordpay.name }}</td>
            <td>{{ i.ordsats.get_status_display }} | {{ i.ordpay.get_status_display }} | {{ i.ordship.get_status_display }}</td>
            {% optr i %}
          </tr>
{% for item in i.items %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ item.name }}</td>
            <td>{{ item.spec }}</td>
            <td>{{ item.num }}</td>
            <td>{{ item.produce.get_status_display }}</td>
            {% optr item %}
          </tr>
{% endfor %}
          <tr>
            <td align="center">地址</td>
            <td colspan="5"><a href="{{ request.paths.地图 }}?k={{ i.ordlogcs.address }}" target="_blank">{{ i.ordlogcs.address }}</a></td>
          </tr>
          <tr align="center">
            <td>时间</td>
            <td align="left">{{ i.ordlogcs.date|date:"Y-m-d" }} | {{ i.ordlogcs.stime|time:"H:i" }} - {{ i.ordlogcs.etime|time:"H:i" }}</td>
            <td>预发货</td>
            <td>{{ i.ordlogcs.lstime|time:"H:i" }}</td>
            <td>{% if i.form %}{{ i.form.advance }}{% else %}{{ i.ordlogcs.get_advance_display }}{% endif %}</td>
            <td>{% if i.form %}{{ i.form.dman }}{% else %}{{ i.ordlogcs.dman }}{% endif %}</td>
          </tr>
          <tr>
            <td align="center">备注</td>
            <td colspan="6">速度送</td>
          </tr>
{% endfor %}
          {% include 'page.htm' %}
      </table>
      <script type="text/javascript" src="{{ STATIC_URL }}logistics/js/logistics.configuration.js"></script>
{% endblock %}