{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
          <tr>
            <th>类型</th>
            <th>订单编号</th>
            <th>联系人</th>
            <th>应收 | 找补 | 实收 | 付款方式</th>
            <th>状态</th>
            <th>操作</th>
          </tr>
{% for i in oList %}
          <tr align="center" class="tr_border_top_black">
            <td>{{ i.get_typ_display }}</td>
            <td><a href="{% url 'order:viewOrd' i.sn %}">{{ i.sn }}</a></td>
            <td>{{ i.logcs.consignee }} [ {{ i.logcs.tel }} ]</td>
            <td>{{ i.fee.paid|stringformat:"0.2f" }} | {{ i.fee.kpchng|stringformat:"0.2f" }} | {{ i.fee.total|stringformat:"0.2f" }} | {{ i.fnc.cod.get_cod_display }}</td>
            <td>{{ i.get_status_display }} | {{ i.fnc.get_status_display }} | {{ i.logcs.get_status_display }}</td>
            {% optr i %}
          </tr>
{% if i.items %}
{% for i in i.items %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ i.name }}</td>
            <td>{{ i.spec }}</td>
            <td>{{ i.num }}</td>
            <td>{{ i.get_status_display }}</td>
            {% optr i %}
          </tr>
{% endfor %}
{% else %}
{% for i in i.pro_set.all %}
          <tr align="center">
            <td align="right" nowrap="true" colspan="2">{{ i.name }}</td>
            <td>{{ i.spec }}</td>
            <td>{{ i.num }}</td>
            <td>{{ i.get_status_display }}</td>
            <td>&nbsp;</td>
          </tr>
{% endfor %}
{% endif %}
          <tr>
            <td align="center">地址</td>
            <td colspan="5"><a href="{% url 'logistics:baiduMap' %}?address={{ i.logcs.address|urlencode }}" target="_blank">[ {{ i.logcs.area }} ] {{ i.logcs.address }}</a></td>
          </tr>
          <tr align="center">
            <td>时间</td>
            <td align="left">{{ i.logcs.date|date:"Y-m-d" }} | {{ i.logcs.stime|time:"H:i" }} - {{ i.logcs.etime|time:"H:i" }}</td>
            <td>预发货</td>
            <td>{{ i.logcs.lstime|time:"H:i" }}</td>
            <td>{% if i.form %}{{ i.form.advance }}{% else %}{{ i.logcs.get_advance_display }}{% endif %}</td>
            <td>{% if i.form %}{{ i.form.dman }}{% else %}{{ i.logcs.dman.last_name }}{{ i.logcs.dman.first_name }}{% endif %}</td>
          </tr>
          <tr>
            <td align="center">备注</td>
              <td colspan="6">{{ i.logcs.note }}</td>
          </tr>
{% empty %}
          <tr>
            <td align="center" colspan="10">无记录</td>
          </tr>
{% endfor %}
          {% include 'page.htm' %}
      </table>
      <script type="text/javascript" src="{{ STATIC_URL }}logistics/js/logistics.configuration.js"></script>
{% endblock %}