{% extends "office.base.htm" %}

{% block title %}收货时间管理{% endblock %}

{% block urHere %}<a href="/signtime/">收货时间管理</a>{% endblock %}

{% block js %}
    <script type="text/javascript" src="{{ STATIC_URL }}signtime/js/signtime.js"></script>
{% endblock %}

{% block content %}
        <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
            <thead>
              <tr>
                <th>编号</th>
                <th>起始时间</th>
                <th>结束时间</th>
                <th>上线</th>
              </tr>
            </thead>
            <tbody>
{% for i in signTime %}
              <tr align="center">
                <td>{{ i.id }}</td>
                <td><a href="/signtime/{{ i.id }}/" title="起始时间">{{ i.start|time:"H:i:s" }}</a></td>
                <td><a href="/signtime/{{ i.id }}/" title="结束时间">{{ i.end|time:"H:i:s" }}</a></td>
                <td class="onl cp"><img src="{{ STATIC_URL }}images/{% if i.onl %}yes{% else %}no{% endif %}.gif" /></td>
              </tr>
{% endfor %}
            </tbody>
              <tr>
                <td align="right" nowrap="true" colspan="10">
                  <div>共 {{ signTime|length }} 条记录</div>
                </td>
              </tr>
        </table>
{% endblock %}