{% extends "office.base.htm" %}

{% block content %}
      {% include 'search.htm' %}
      {% load tags %}
      <form action="{% url 'print:printOrd' %}" method="post" id="print">
      <table cellpadding="3" cellspacing="1" width="100%" class="sortTable">
          <tr>
            <th><input type="checkbox" name="all" id="all" /></th>
            <th>类型</th>
            <th>订单编号</th>
            <th>联系人</th>
            <th>应收 | 找补 | 实收 | 付款方式</th>
            <th>状态</th>
            <th><input type="submit" value="打印" class="button" /></th>
          </tr>
{% regroup oList by logcs.date as newsList %}
{% for i in newsList %}
{% regroup i.list by logcs.ltime as newStime %}
  {% for ii in newStime %}
          <tr class="tr_border_top_rare">
            <td colspan="10">{{ i.grouper|date:"Y-m-d"  }} | {{ ii.grouper }} | <span class="wow_item_8">{{ ii.list|length }}</span></td>
          </tr>
      {% for iii in ii.list %}
          <tr align="center" class="tr_border_top_black">
            <td><input type="checkbox" name="{{ iii.sn }}" id="s{{ iii.id }}" /></td>
            <td>{{ iii.get_typ_display }}</td>
            <td><a href="{% url 'order:viewOrd' iii.sn %}">{{ iii.sn }}</a></td>
            <td>{{ iii.logcs.consignee }} [ {{ iii.logcs.tel }} ]</td>
            <td>{{ iii.fee.paid|stringformat:"0.2f" }} | {{ iii.fee.kpchng|stringformat:"0.2f" }} | {{ iii.fee.total|stringformat:"0.2f" }} | {{ iii.fnc.cod.get_cod_display }}</td>
            {% status iii %}
            <td><a href="{% url 'print:pAct' iii.sn %}" target="_blank" class="button">打印</a></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="center">地址</td>
            <td colspan="5"><a href="{% url 'logistics:baiduMap' %}?address={{ iii.logcs.address|urlencode }}" target="_blank">[ {{ iii.logcs.area }} ] {{ iii.logcs.address }}</a></td>
          </tr>
          <tr align="center">
            <td>&nbsp;</td>
            <td>时间</td>
            <td align="left">{{ iii.logcs.date|date:"Y-m-d" }} | {{ iii.logcs.stime|time:"H:i" }} - {{ iii.logcs.etime|time:"H:i" }}</td>
            <td>预发货</td>
            <td>{{ iiii.logcs.lstime|time:"H:i" }}</td>
            <td>{{ iii.logcs.get_advance_display }}</td>
            <td>{{ iii.logcs.dman.last_name }}{{ iii.logcs.dman.first_name }}</td>
          </tr>
    {% endfor %}
  {% endfor %}
{% empty %}
          <tr>
            <td align="center" colspan="10">无记录</td>
          </tr>
{% endfor %}
          <tr>
            <td align="center"><input type="submit" value="打印" class="button" /></td>
            <td colspan="7">&nbsp;</td>
          </tr>
          {% load page %}
          {% page oList request form %}
      </table>
      </form>
{% endblock %}

{% block js %}
      <script type="text/javascript" src="{{ STATIC_URL }}print/js/printord.configuration.js"></script>
{%  endblock %}